{% extends 'layouts/admin.html' %}

{% block content %}
<div class="admin-content">
    <div class="wrapper">
        <main class="admin-main">
            <h1>Выставить новый счет</h1>
<!--            дял понятность сделаю шагами как в зеплине-->
            <div class="admin-main--form">
                <div class="form-group error" data-hint="Номер не найден" > <!--если номера нет то добавлятся класс error v data-hint-->
                    <form action="">
                        <label for="addNumber">
                        <input type="tel" id="addNumber" placeholder="Номер телефона клиента">
                    </label>
                        <button type="submit" class="form-btn">
                        <svg id="icon-search" width="24px" height="24px">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"></path>
                                <path d="M14.5 14.5l5 5" stroke="#000" stroke-width="2" stroke-linecap="square"></path>
                                <circle stroke="#000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                            </g>
                        </svg>
                    </button>
                    </form>
                </div>
            </div>
<!--           После успешного вбития номера — появляется кнопка сформировать счет и поле для присвоения ID битрикса-->
            <div class="admin-main--form">
                <div class="form-group" >
                    <form action="">
                        <label for="addNumber">
                            <input type="tel" id="addNumber" value="+7 (909) 999-31-55" placeholder="Номер телефона клиента">
                        </label>
                        <button type="submit" class="form-btn">
                            <svg id="icon-search" width="24px" height="24px">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path d="M14.5 14.5l5 5" stroke="#000" stroke-width="2" stroke-linecap="square"></path>
                                    <circle stroke="#000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div><div class="form-group form-group--big">
                    <div class="form-group--item">
                        <button class="btn btn-green btn-score" type="button">Сформировать счет</button>
                    </div>
                    или
                    <div class="form-group--item">
                        <form action="">
                            <label for="" class="bitrix-item">
                                <input class="bitrix" type="text"">
                                <span class="fake-placeholder">ID Битрикс</span>
                            </label>
                            <button class="btn btn-bitrix btn-green btn-disabled">Сохранить</button>
                        </form>
                    </div>
                </div>

            </div>
<!--           После ввода ID битрикса кнопка рядом с ним  становится доступной. -->
            <div class="admin-main--form">
                <div class="form-group" >
                    <form action="">
                        <label for="addNumber">
                            <input type="tel" id="addNumber" placeholder="Номер телефона клиента" value="+7 (909) 999-31-55">
                        </label>
                        <button type="submit" class="form-btn">
                            <svg id="icon-search" width="24px" height="24px">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path d="M14.5 14.5l5 5" stroke="#000" stroke-width="2" stroke-linecap="square"></path>
                                    <circle stroke="#000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div><div class="form-group form-group--big">
                <div class="form-group--item">
                    <button class="btn btn-green btn-score" type="button">Сформировать счет</button>
                </div>
                или
                <div class="form-group--item">
                    <form action="">
                        <label for="" class="bitrix-item">
                            <input class="bitrix" type="text" value="SF/1234678">
                            <span class="fake-placeholder">ID Битрикс</span>
                        </label>
<!--                        удаляется класс btn-disabled-->
                        <button class="btn btn-bitrix btn-green">Сохранить</button>
                    </form>
                </div>
            </div>

            </div>
<!--           После нажатия на btn-bitrix добавляем строку в таблицу-->
            <div class="admin-main--form">
                <div class="form-group" >
                    <form action="">
                        <label for="addNumber">
                            <input type="tel" id="addNumber" placeholder="Номер телефона клиента" value="+7 (909) 999-31-55">
                        </label>
                        <button type="submit" class="form-btn">
                            <svg id="icon-search" width="24px" height="24px">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path d="M14.5 14.5l5 5" stroke="#000" stroke-width="2" stroke-linecap="square"></path>
                                    <circle stroke="#000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div><div class="form-group form-group--big">
                <div class="form-group--item">
                    <button class="btn btn-green btn-score" type="button">Сформировать счет</button>
                </div>
                или
                <div class="form-group--item">
                    <form action="">
                        <label for="" class="bitrix-item">
                            <input class="bitrix" type="text" value="SF/1234678">
                            <span class="fake-placeholder">ID Битрикс</span>
                            <span class="chek">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                                    <polyline id="Line-3" stroke="#3AA65E" stroke-width="1.8" stroke-linecap="square" points="5 12 9.5 16.5 19 7"></polyline>
                                </svg>
                            </span>
                        </label>
                    </form>
                </div>
            </div>

            </div>
<!--            После нажатия на «Сформировать счет» добавляем строку в таблицу-->
            <div class="admin-main--form">

                <div class="form-group" >
                    <form action="">
                        <label for="addNumber">
                            <input type="tel" id="addNumber" placeholder="Номер телефона клиента" value="+7 (909) 999-31-55">
                        </label>
                        <button type="submit" class="form-btn">
                            <svg id="icon-search" width="24px" height="24px">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path d="M14.5 14.5l5 5" stroke="#000" stroke-width="2" stroke-linecap="square"></path>
                                    <circle stroke="#000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div><div class="form-group form-group--big">
                <div class="form-group--item">
                    <label for="" class="score-item">
                        <input class="score" type="text" value="SF/1234678" readonly>
                        <span class="fake-placeholder">ID счета</span>
                        <span class="chek">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                                <polyline id="Line-3" stroke="#3AA65E" stroke-width="1.8" stroke-linecap="square" points="5 12 9.5 16.5 19 7"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>
                или
                <div class="form-group--item">
                    <form action="">
                        <label for="" class="bitrix-item">
                            <input class="bitrix" type="text">
                            <span class="fake-placeholder">ID Битрикс</span>
                            <span class="chek">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                                    <polyline id="Line-3" stroke="#3AA65E" stroke-width="1.8" stroke-linecap="square" points="5 12 9.5 16.5 19 7"></polyline>
                                </svg>
                                </span>
                        </label>
                        <button class="btn btn-bitrix btn-green btn-disabled">Сохранить</button>
                    </form>
                </div>
            </div>

            </div>

            <div class="table admin-main--table">
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
                <div class="table-row">
                    <div class="table-col phone">+7 (909) 238-13-13</div>
                    <div class="table-col score"><span>ID счета</span>100-124-432-120</div>
                    <div class="table-col bitrix"><span>ID Битрикс</span>SF/1234678</div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}