{% extends 'layouts/admin.html' %}

{% block content %}
<main class="admin-main">
    <h1>Редактирование пользователей</h1>
    <div class="admin-main-search">
        <form action="">
            <label class="error"  data-hint="Пользователь уже существует">
                <input placeholder="Номер телефона" type="tel">
            </label>
            <label for="">
                <input placeholder="Добавочный номер" type="tel">
            </label>
            <button type="submit">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                        <path d="M14.5,14.5 L19.5,19.5" id="Line-2" stroke="#000000" stroke-width="2" stroke-linecap="square"></path>
                        <circle id="Oval" stroke="#000000" stroke-width="2" cx="10" cy="10" r="6"></circle>
                    </g>
                </svg>
            </button>
        </form>
        <a href="#0" class="btn btn-green create-user">Создать пользователя</a>
    </div>

    <div class="admin-main-users">
        <h2>Пользователи</h2>
        <div class="admin-main-users--item">
            <div class="phone">+7 (909) 238-13-13</div>
            <div class="phone-dob"><span>доб.</span>4000</div>
            <div class="price"><a href="#modal-billed" data-modal-card class="admin-link-green">Выставленные счета</a></div>
            <div class="login-link"><a href="#modal-share" data-modal-card class="admin-link-green">Ссылка для входа</a></div>
            <div class="remove-pass"><a href="#0" class="admin-link-green">Сбросить пароль</a></div>
            <div class="remove-user">
                <button type="button"></button>
            </div>
        </div>
        <div class="admin-main-users--item">
            <div class="phone">+7 (909) 238-13-13</div>
            <div class="phone-dob"></div>
            <div class="price"><a href="#modal-billed" data-modal-card class="admin-link-green">Выставленные счета</a></div>
            <div class="login-link"><a href="#modal-share" data-modal-card class="admin-link-green">Ссылка для входа</a></div>
            <div class="remove-pass"><a href="#0" class="admin-link-green">Сбросить пароль</a></div>
            <div class="remove-user">
                <button type="button"></button>
            </div>
        </div>
        <div class="admin-main-users--item">
            <div class="phone">+7 (909) 238-13-13</div>
            <div class="phone-dob"><span>доб.</span>4000</div>
            <div class="price"><a href="#modal-billed" data-modal-card class="admin-link-green">Выставленные счета</a></div>
            <div class="login-link"><a  href="#modal-share" data-modal-card class="admin-link-green">Ссылка для входа</a></div>
            <div class="remove-pass"><a href="#0" class="admin-link-green">Сбросить пароль</a></div>
            <div class="remove-user">
                <button type="button"></button>
            </div>
        </div>
        <div class="admin-main-users--item">
            <div class="phone">+7 (909) 238-13-13</div>
            <div class="phone-dob"><span>доб.</span>4000</div>
            <div class="price"><a href="#modal-billed" data-modal-card class="admin-link-green">Выставленные счета</a></div>
            <div class="login-link"><a  href="#modal-share" data-modal-card class="admin-link-green">Ссылка для входа</a></div>
            <div class="remove-pass"><a href="#0" class="admin-link-green">Сбросить пароль</a></div>
            <div class="remove-user">
                <button type="button"></button>
            </div>
        </div>
    </div>
</main>


<section class="admin-list">
    <div class="admin-list--item">
        <div class="phone">+7 (909) 238-13-13</div>
        <div class="phone-dob"><span>доб.</span>4000</div>
        <div class="id"><span>ID счета</span>100-124-432-120</div>
        <div class="download">
            <button class="btn btn-download"></button>
        </div>
    </div>
    <div class="admin-list--item">
        <div class="phone">+7 (909) 238-13-13</div>
        <div class="phone-dob"><span>доб.</span>4000</div>
        <div class="id"><span>ID счета</span>100-124-432-120</div>
        <div class="download">
            <button class="btn btn-download"></button>
        </div>
    </div>
    <div class="admin-list--item">
        <div class="phone">+7 (909) 238-13-13</div>
        <div class="phone-dob"><span>доб.</span>4000</div>
        <div class="id"><span>ID Битрикс</span>100-124-432-120</div>
        <div class="download">
        </div>
    </div>
    <div class="admin-list--item">
        <div class="phone">+7 (909) 238-13-13</div>
        <div class="phone-dob"><span>доб.</span>4000</div>
        <div class="id"><span>ID счета</span>100-124-432-120</div>
        <div class="download">
            <button class="btn btn-download"></button>
        </div>
    </div>
    <div class="admin-list--item">
        <div class="phone">+7 (909) 238-13-13</div>
        <div class="phone-dob"><span>доб.</span>4000</div>
        <div class="id"><span>ID счета</span>100-124-432-120</div>
        <div class="download">
        </div>
    </div>
</section>

{% endblock %}
