{% extends 'layouts/_base.html' %}

{% block content %}

<div class="company">
    <div class="wrapper">
        {% include 'sections/sidebar.html' %}

        <section class="company-content">
            <!--Карточка Главная-->
            <article id="main" class="company-content--item card " > <!-- если существует - то ничего не добавляется, а если ликвидирована то добавляется класс main-card-eliminated  -->
                <div class="card-header">
                    <h1>ООО «ЯНДЕКС.ВЕРТИКАЛИ ТЕХНОЛОГИИ»</h1>
                    <a href="#0" class="card-header--factors">9 стоп-факторов</a>
                </div>
                <div class="card-content">
                    {% include 'blocks/main.html' %}
                </div>
                <div class="card-footer">
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>

            <!--Карточка Главная конец-->

            <!--карточка собственники-->
            <article id=owner" class="company-content--item card  double" >
                <div class="card-header">
                    <h2>Собственники</h2>
                    <!--<a href="#0" class="card-header&#45;&#45;factors">9 стоп-факторов</a>-->
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="owner-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="owner-tabs">
                            <label aria-hidden="true" for="owner-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="owner-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/owner.html' %}
                    {% include 'blocks/diagram.html' %}
                </div>
                <div class="card-footer">
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!-- карточка собственники конец-->

            <!--карточка взаимосвязи-->
            <article id=child" class="company-content--item card child" >
                <div class="card-header">
                    <h2>Взаимосвязи</h2>
                    <!--<a href="#0" class="card-header&#45;&#45;factors">9 стоп-факторов</a>-->
                </div>
                <div class="card-content">
                    {% include 'blocks/child.html' %}
                </div>
                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все учрежденные юридические лица <span>200</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!-- карточка взаимосвязи конец-->



            <!--Карточка отчетность в 2х примерах-->
            <article id="report" class="company-content--item card" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Отчетность</h2>
                </div>
                <div class="card-content">
                    {% include 'blocks/otchet.html' %}
                </div>
                
                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>

            <article class="company-content--item card dangerously" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Отчетность</h2>
                    <a href="#0" class="card-header--factors">2 стоп-фактор</a>
                </div>
                <div class="card-content">
                    {% include 'blocks/otchet-dengerously.html' %}
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!--Карточка отчетность в 2х примерах конец-->

            <!--Карточка проверки в 2х примерах-->
            <article id="checks" class="company-content--item card  double" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Проверки</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="checks-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="checks-tabs">
                            <label aria-hidden="true" for="checks-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="checks-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/proverki.html' %}
                    <div class="diagram card-content-item" id="checks-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>

            <article class="company-content--item card no-index" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Проверки</h2>
                </div>
                <div class="card-content">
                    <p>На сегодняшний день проверок eще не проводилось</p>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!--Карточка проверки в 2х примерах конец-->


            <!--Карточка бизнес-->
            <article id="business" class="company-content--item card  double" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Бизнес</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="business-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="business-tabs">
                            <label aria-hidden="true" for="business-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="business-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/business.html' %}
                    <div class="diagram card-content-item" id="business-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>

            <!--Карточка бизнес конец-->

            <!-- Карточка арбитражи   -->
            <article id="аrbitrage" class="company-content--item card  double" ><!-- если все норм то добавляется класс perfectly если какае-то предупреждение то добавляется класс satisfactorily  если есть стопфакторы то добавляется класс dangerously-->
                <div class="card-header">
                    <h2>Арбитражи</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="аrbitrage-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="аrbitrage-tabs">
                            <label aria-hidden="true" for="аrbitrage-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="аrbitrage-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/arbitrage.html' %}
                    <div class="diagram card-content-item" id="аrbitrage-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>

            <!-- Карточка арбитражи  конец -->

            <!--Карточка экономика -->
            <article id="economy" class="company-content--item card  double">
                <div class="card-header">
                    <h2>Экономика</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="economy-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="economy-tabs">
                            <label aria-hidden="true" for="economy-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="economy-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/economy.html' %}
                    <div class="diagram card-content-item" id="economy-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!--Карточка экономика конец-->

            <!--карточка ФССП-->
            <article id="fssp" class="company-content--item card satisfactorily  double">
                <div class="card-header">
                    <h2>ФССП</h2>
                    <a href="#0" class="card-header--factors">2 стоп-фактор</a>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="fssp-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="fssp-tabs">
                            <label aria-hidden="true" for="fssp-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="fssp-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/fssp.html' %}
                    <div class="diagram card-content-item" id="fssp-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!--карточка ФССП конец-->


            <!--карточка для тендера-->
            <article id="tender" class="company-content--item card  double">
                <div class="card-header">
                    <h2>Тендер</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-tabs">
                        <div class="card-content-tabs--link active" rel="tender-tabs-1">Таблица</div>
                        <div class="card-content-tabs--switch">
                            <input type="checkbox" id="tender-tabs">
                            <label aria-hidden="true" for="tender-tabs">вкл</label>
                            <div aria-hidden="true" class="card-content-tabs--switch_marker"></div>
                        </div>
                        <div class="card-content-tabs--link" rel="tender-tabs-2">Диаграмма</div>
                    </div>
                    {% include 'blocks/tender.html' %}
                    <div class="diagram card-content-item" id="tender-tabs-2">

                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer-btn">
                        <a href="#0" class="btn btn-default">Все годы <span>1997—2019</span></a>
                    </div>
                    <ul class="card-footer-link">
                        <li><a href="#0" class="card-footer-link--download" data-hint="Скачать"></a></li>
                        <li><a href="#0" class="card-footer-link--share" data-hint="Поделиться"></a></li>
                        <li><a href="#0" class="card-footer-link--print" data-hint="Распечатать"></a></li>
                    </ul>
                </div>
            </article>
            <!--карточка для тендера конец-->
        </section>

        <div class="company-btn">
            <a href="#0" class="btn btn-default">Отчет</a>
            <a href="#0" class="btn btn-default">Выписка</a>
        </div>

        <div class="compamy-modal share-modal" >
            <div class="lds-ring"> <!--лоадер-->
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <form action="">
                <input type="text" value="">
                <button type="button" class="coppy-link btn btn-green">Скопировать ссылку</button>
            </form>
        </div>

        .
    </div>
</div>
{% endblock %}