{% extends 'layouts/_base.html' %}

{% block content %}
    <div class="text-page">
        <div class="wrapper">
            <div class="text-page--content">
                <h1>Пользовательское соглашение</h1>

                <p>Roboto regular 14px, line-height:20px; Настоящее соглашение (далее — «Соглашение») регламентирует отношения между ООО «Рамблер Интернет Холдинг» (далее — Рамблер) и лицом, являющимся владельцем Интернет-ресурса или уполномоченным представителем владельца соответствующего Интернет-ресурса (далее – «Владелец Ресурса»), по созданию Рамблером технических условий для размещения Владельцем Ресурса информационных материалов Интернет-ресурса (далее — «Материалы») в логических зонах «Новости», «Мнения» и «Рекомендации» или иных зонах на главной странице сайта Рамблера, расположенного в сети Интернет по адресу http://rambler.ru/ (далее — «Сайт»).</p>

                <ol>
                    <li>1. Заголовок (roboto bold 14px, line-height:20px;)
                        <ol>
                            <li>1.1. Первый абзац. В рамках Соглашения Рамблер руководствуется целями обеспечения информационного обмена и доступа пользователей сети Интернет к Материалам, направленным на (1) информирование об интересных событиях, явлениях, фактах в социальной, экономической, политической, технологической и культурной сферах общества, (2) расширение кругозора пользователей сети Интернет, (3) усиление степени полноты и качества их жизни.</li>
                            <li>1.2. Второй абзац. Размещение Материалов на Сайте может быть доступно в следующих логических зонах: «Новости», «Мнения» и «Рекомендации» либо иных зонах, определяемых по усмотрению Рамблера. Каждая из этих зон отличается структурой и принципами отбора, а также порядком и частотой обновления. Рамблер не раскрывает алгоритмы, определяющие факт размещения Материалов и порядок их размещения.</li>
                        </ol>
                    </li>
                    <li>2. Общие положения
                        <ol>
                            <li>2.1.Первый абзац. В рамках Соглашения Рамблер руководствуется целями обеспечения информационного обмена и доступа пользователей сети Интернет к Материалам, направленным на (1) информирование об интересных событиях, явлениях, фактах в социальной, экономической, политической, технологической и культурной сферах общества, (2) расширение кругозора пользователей сети Интернет, (3) усиление степени полноты и качества их жизни</li>
                            <li>2.2. Второй абзац. Размещение Материалов на Сайте может быть доступно в следующих логических зонах: «Новости», «Мнения» и «Рекомендации» либо иных зонах, определяемых по усмотрению Рамблера. Каждая из этих зон отличается структурой и принципами отбора, а также порядком и частотой обновления. Рамблер не раскрывает алгоритмы, определяющие факт размещения Материалов и порядок их размещения.</li>
                        </ol>
                    </li>
                    <li>ну и так далее
                        <ol>
                            <li>2.1.Первый абзац. В рамках Соглашения Рамблер руководствуется целями обеспечения информационного обмена и доступа пользователей сети Интернет к Материалам, направленным на (1) информирование об интересных событиях, явлениях, фактах в социальной, экономической, политической, технологической и культурной сферах общества, (2) расширение кругозора пользователей сети Интернет, (3) усиление степени полноты и качества их жизни</li>
                            <li>2.2. Второй абзац. Размещение Материалов на Сайте может быть доступно в следующих логических зонах: «Новости», «Мнения» и «Рекомендации» либо иных зонах, определяемых по усмотрению Рамблера. Каждая из этих зон отличается структурой и принципами отбора, а также порядком и частотой обновления. Рамблер не раскрывает алгоритмы, определяющие факт размещения Материалов и порядок их размещения.</li>
                        </ol>
                    </li>
                </ol>



            </div>
        </div>
    </div>
{% endblock %}