.header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
  background-color: $body-bg-color;
  border-bottom: 1px solid $light-gray--text;
  transition: top .5s ease-in-out;
  transition-duration: .5s;
  @media (min-width: 1264px) {
    height: 68px;
  }
  @media (max-width: 412px){
    height: auto;
    padding: 14px 0;
  }

  &.scroll-bottom {
    top: -68px;
    @media (max-width: 1263px) {
      top: -64px;
    }
  }
  &.scroll{
    @media(max-width: 412px) {
      .header-link {
        .enter {
          background-color: $green;
          border-color: $green;
          color: $white;

          &:hover {
            background-color: $green-hover;
            color: $white;
            text-decoration: none;
          }

          &:active {
            color: $white;
            background: $green-hover;
            transform: scale(.96);
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    @media(max-width: 412px){
      padding: 0 16px 0 24px;
      justify-content: space-between;
    }

    .card-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 784px;
      margin: 0 auto;
      background-color: $body-bg-color;
      padding: 24px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: top .2s ease;
      @media (max-width: 1343px) {
        width: 704px;
      }
      @media (max-width: 1263px) {
        margin-left: 240px;
      }

      &.show {
        top: 54px;
        @media (max-width: 1263px) {
          top: 52px;
        }
        @media (max-width: 412px) {
          display: none !important;
        }
      }

      &--inner {
        position: relative;
        max-width: 608px;
        width: auto;
        cursor: pointer;
        display: inline-block;

        &:hover {
          &:after {
            opacity: 1;
          }
        }

        @media (max-width: 1343px) {
          max-width: 528px;
        }

        &:after {
          content: '';
          position: absolute;
          right: -32px;
          top: 50%;
          margin-top: -12px;
          z-index: 999;
          width: 24px;
          height: 24px;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Ccircle cx='12' cy='12' r='12' fill='%23000' fill-opacity='.1'/%3E%3Cpath stroke='%23000' stroke-linecap='square' stroke-width='1.8' d='M8 13.5l4-4 4 4'/%3E%3C/g%3E%3C/svg%3E");
          opacity: 0;
          transition: .2s opacity ease;
        }

        & > div {
          position: relative;
          max-width: 100%;
          width: auto;
          display: inline-block;

          &.fade {
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              width: 56px;
              background-image: linear-gradient(to right, rgba(230, 230, 230, 0), rgb(230, 230, 230));
            }
          }
        }

        &:hover {
          h1 {
            opacity: .7;
          }
        }
      }

      h1 {
        display: inline-block;
        position: relative;
        max-width: 100%;
        width: auto;
        overflow: hidden;
        font: {
          size: 1.6rem;
          weight: $font-bold;
        }
        line-height: 2rem;
        letter-spacing: 0.5px;
        color: $black--text;
        white-space: nowrap;
        transition: .2s ease;
        text-overflow: clip;
        @media (max-width: 1343px) {
          font-size: 1.4rem;
          height: 1.6rem;
        }
      }

      &--factors {
        position: static;
        font: {
          size: 1.6rem;
          weight: $font-bold;
        }
        line-height: 2rem;
        @media (max-width: 1343px) {
          font-size: 1.4rem;
          height: 1.6rem;
        }
      }
    }
  }

  &-logo {
    max-width: 176px;
    width: 100%;
    margin-right: 64px;
    @media(max-width: 412px){
      margin-right: 0;
    }

    a {
      display: block;
      max-width: 168px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-search {
    position: relative;
    width: 62.02%;
    margin-right: 16px;
    max-width: 784px;
    @media (min-width: 1184px) {
      width: 68.6%;
    }
    @media (min-width: 1264px) and (min-height: 671px) {
      max-width: 784px;
    }
    @media (min-width: 1264px) and (max-height: 670px) {
      max-width: 704px;
    }
    @media (min-width: 1344px) {
      max-width: 784px;
    }


    &--input {
      width: 100%;
      height: 40px;
      padding: 12px 44px 12px 44px;
      border-radius: 4px;
      border: 1px solid $white--text;
      background-color: $white;
      box-sizing: border-box;
      font: {
        family: $font-family;
        size: 1.4rem;
        weight: $font-regular;
      }
      line-height: 1.6rem;
      color: $black--text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &::placeholder {
        font: {
          family: $font-family;
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;


        color: rgba(0, 0, 0, 0.4);
      }

    }

    &--btn {
      position: absolute;
      width: 24px;
      height: 24px;
      display: block;
      padding: 2px;
      left: 12px;
      top: 6px;
      opacity: .4;
      border: none;
      background: $white;
      transition: .2s opacity ease;

      &:hover {
        opacity: .3;
      }

      &_reset {
        display: none;
        position: absolute;
        width: 24px;
        height: 24px;
        padding: 2px;
        top: 6px;
        right: 12px;
        overflow: hidden;
        text-indent: 999px;
        border: 0;
        background-color: $white;
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ED254B955-C740-450F-8233-2BCE7A651267%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/close/M/normal'%3E%3Cg id='Group-14'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpath d='M4.5,4.5 L19.5,19.5' id='Line-2' stroke='%23000000' stroke-width='2' stroke-linecap='square'%3E%3C/path%3E%3Cpath d='M19.5,4.5 L4.5,19.5' id='Line-2' stroke='%23000000' stroke-width='2' stroke-linecap='square'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        transition: .2s opacity ease;
        opacity: 1;

        &:hover {
          opacity: .6;
        }
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }


    &--inner {
      z-index: 999999999;
      display: none;
      position: absolute;
      top: 100%;
      background-color: $white;
      left: 0;
      right: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border: {
        left: 1px solid $white--text;
        right: 1px solid $white--text;
        bottom: 1px solid $white--text;
      }
      box-sizing: border-box;
      padding-top: 20px;

      .title {
        padding-left: 16px;
        font-size: 1.3rem;
        font-weight: $font-regular;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6rem;
        color: $mid-gray--text;
        margin-bottom: 4px;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &--item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      padding: 12px 15px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .item-info--name,
        .item-info--company {
          &:after {
            background-image: linear-gradient(to right, rgba(242, 242, 242, 0), rgb(242, 242, 242));
          }
        }
      }

      .item-info--name {
        position: relative;
        flex-basis: 100%;
        margin-bottom: 8px;
        width: 100%;
        font-size: 1.4rem;
        font-weight: $font-bold;
        line-height: 1.6rem;
        letter-spacing: 0.4px;
        color: $black--text;

        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;

        &:after {
          position: absolute;
          content: '';
          top: 0;
          width: 56px;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
        }
      }

      .item-info--company {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;

        &:after {
          position: absolute;
          content: '';
          top: 0;
          width: 56px;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
        }

        p {
          margin-right: 16px;

          &:last-of-type {
            margin-right: 0;
          }

          span:not(.icon-king) {
            font-size: 1.4rem;
            font-weight: $font-regular;
            line-height: 1.6rem;
            letter-spacing: 0.4px;
            color: $mid-gray--text;
            text-transform: uppercase;
          }

          .icon-king {
            vertical-align: middle;
            display: inline-block;
            margin-right: 4px;
          }
        }
      }

    }
  }

  &-link {
    position: relative;
    margin: {
      left: auto;
      right: 0;
    };

    .enter {
      width: 80px;
      display: inline-block;
      border-radius: 24px;
      font: {
        size: 1.4rem;
        weight: $font-regular;
      }
      line-height: 1.6rem;
      letter-spacing: normal;
      text-align: center;
      text-transform: none;
      color: rgb(255, 255, 255);
      padding: 8px 16px;
      @media(max-width: 412px) {
        border: solid 1px $white;
        color: $white;
        background: transparent;
        padding: 6px 13px;
        width: auto;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
          color: $white;
          text-decoration: none;
        }

        &:active {
          transform: scale(.96);
          color: $white;
        }
      }
    }

    ul {
      width: 100%;
      max-width: 144px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        margin-right: 24px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        .show-monitoring--count {
          display: block;
          box-sizing: border-box;
          position: absolute;
          padding: 2px 4px;
          color: $white;
          background-color: $red;
          font-size: rem(11px);
          border-radius: 8px;
          line-height: 1.09;
          text-align: center;
          left: 20px;
          bottom: 18px;
        }
      }
    }

    &--item {

      display: block;
      width: 32px;
      height: 32px;

      &.add-more {
        cursor: pointer;

        svg {
          .options {
            fill: $white--text;
          }
        }

        &:before {
          width: 113px;
          padding: 4px 8px;
          text-align: center;
        }

        &:hover {
          svg {
            .options {
              fill: $white--text;
            }
          }
        }


      }

      &[data-hint] {
        position: relative;

        &:before {
          position: absolute;
          z-index: 9991;
          pointer-events: none;
          content: attr(data-hint);
          display: block;
          padding: 4px 8px;
          opacity: 0;
          max-width: 464px;
          top: 100%;
          left: 50%;
          margin-top: 8px;
          border-radius: 4px;
          background-color: rgb(153, 153, 153);
          transition: .2s ease opacity;
          text-transform: none;
          font: {
            size: 1.3rem;
            weight: $font-regular;
          }
          line-height: 1.6rem;
          letter-spacing: 0.5px;
          transform: translateX(-50%);
          color: rgb(255, 255, 255);

        }

        &:hover {
          &:before {
            opacity: 1;
          }

        }
      }

      &:hover {
        svg {
          .options,
          .star,
          circle {
            fill: $black--text;
          }
        }
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
        transition: .2s ease opacity;

        path {
          transition: .2s fill ease;
        }
      }

      &.big {
        position: relative;
        border-radius: 50%;

        &:after {
          content: '';
          transition: .5s ease all;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }

        svg {
          border-radius: 50%;
          overflow: hidden;
        }

        &.open {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 38px;
            height: 38px;
            border: solid 2px rgb(58, 166, 94);
          }
        }

        .mark {
          position: absolute;
          z-index: 99;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 0;
          right: 0;
          background-color: $red;

        }
      }
    }

    &--menu {
      display: none;
      position: absolute;
      padding: 24px 24px 16px;
      box-sizing: border-box;
      right: -16px;
      top: 52px;
      width: 248px;
      height: auto;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
      background-color: $white;
      z-index: 999;

      .profile {
        &-info {
          padding-bottom: 23px;
          margin-bottom: 24px;
          border-bottom: 1px solid $white--text;
          text-align: center;

          &--main {
            font: {
              size: 2.2rem;
              weight: $font-bold;
            }
            line-height: 2.4rem;
            letter-spacing: normal;
            color: $black--text;
          }

          &--second {
            margin-top: 8px;
            font: {
              size: 1.3rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            color: $mid-gray--text;
          }
        }

        &-subscription {
          margin-bottom: 24px;

          &--info {
            margin-bottom: 16px;
            font: {
              size: 1.4rem;
              weight: $font-bold;
            }
            line-height: 1.6rem;
            letter-spacing: normal;
            text-align: center;

            &.normal {
              color: $green;
            }

            &.warning {
              color: $red;
            }

            &.default {
              color: $black--text;
            }
          }

          &--btn {
            p {
              margin-bottom: 8px;
              font: {
                size: 1.3rem;
                weight: $font-regular;
              };
              line-height: 1.6rem;
              letter-spacing: normal;
              text-align: center;
              color: $mid-gray--text;
            }

            .btn-green {
              padding: 10px 8px 10px 9px;
              width: 100%;
              box-sizing: border-box;
              margin-bottom: 8px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

        }

        &-menu {
          display: block;
          width: auto;
          max-width: none;
          margin: {
            left: -24px;
            right: -24px;
          }

          li {
            box-sizing: border-box;
            width: 100%;
            text-align: center;
            margin: 0;

            &.statement {
              a {
                span {
                  text-align: center;
                  vertical-align: middle;
                  display: inline-block;
                  margin-left: 8px;
                  color: $mid-gray--text;
                }
              }

              &.active {
                span {
                  color: $white;
                  background-color: $red;
                  border-radius: 10px;
                  padding: 3px 6px 2px;
                  box-sizing: border-box;
                }
              }
            }

            a {
              padding: 8px 0;
              display: block;
              width: 100%;
              font: {
                family: $font-family;
                size: 1.4rem;
                weight: $font-regular
              }
              line-height: 1.6rem;
              letter-spacing: normal;
              color: $black--text;
              transition: background-color .2s;

              &:hover {
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
      }
    }
  }


  ///админка

  &-admin {
    border-bottom: 0;
    position: static;
    height: 72px;

    .wrapper {
      max-width: 960px;
    }

    .header-logo {
      svg {
        opacity: .5;
      }
    }
  }

}

//.header-mobile {
//  display: none;
//  @media (max-width: 412px) {
//    display: block;
//  }
//}