&-content{
  width: 100%;
  max-width: 704px;
  margin: 0 auto 0 240px;
  @media (min-width: 1264px) and (min-height:671px){
    max-width: 784px;
  }
  @media (min-width: 1344px){
    max-width: 784px;
  }
  @media(max-width: 412px){
    max-width: none;
    margin: 0 auto;
  }
  &--item{
    width: 100%;
    background-color: $white;
    padding: 32px;
    box-sizing: border-box;
    margin-bottom: 24px;
    @media(max-width: 412px){
      padding: 24px 0 20px 24px;
      overflow: hidden;
    }


    &.dangerously{
      background-color: rgb(255, 232, 230);

      .btn{
        background-color: rgb(255, 232, 230);
        &:hover{
          background-color:darken(rgb(255, 232, 230), 5%);
        }
      }

    }
    &.satisfactorily{
      background-color: rgb(255, 241, 222);

      .card-header--factors{
        color: $gold;
      }

      .btn{
        background-color:rgb(255, 241, 214);
        &:hover{
          background-color:darken(rgb(255, 241, 214), 5%);
        }
      }

    }
    &.card-egrul{
      padding: 32px 16px;
      .card-header{
        padding: 0 16px;
      }
      @media(max-width: 412px ){
        padding: 24px 0 24px 24px;
        .card-header{
          padding: 0;
          font-size: rem(28px);
          line-height: 1.14;
          color: #000000;
          margin-bottom: 20px;
        }
      }
      @media(max-width: 412px){
        .card-footer{
          height: auto;
          padding-right: 24px;
          &-btn{
            margin-bottom: 20px;
          }
          .btn-default {
            width: 100%;
            span{
              display: none;
            }
          }
          &-link{
            position: static;
            transform: translateY(0);
            padding: 0;
          }
        }
      }
    }
  }
}
.mobil-factors {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 208px;
  height: 56px;
  border-radius: 28px;
  font-size: rem(16px);
  font-weight: $font-bold;
  line-height: 1.25;
  color: #ffffff;
  border:none;
  text-align: center;
  .icon{
    margin-right: 12px;
  }
  @media(max-width:412px){
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &.warning{
    background-color: $red;
  }
  &.good{
    background-color: $green;
  }
}