&-btn{
  display: flex;
  flex-direction: column;
  width: 100%;
  @media(min-width: 320px) and (max-width: 412px){
    flex-direction: row;
  }
  &--inner{
    margin-bottom: 16px;
    position: relative;
    &:first-child {
      @media (max-width: 380px){
        .company-btn--dropdown {
          left: 0;
          transform: translateX(0);
          &:after{
            left: 66px;
          }
        }
      }
    }
    &:last-child {
      @media (max-width: 380px){
        .company-btn--dropdown {
          right: 0;
          left: auto;
          transform: translateX(0);
          &:after{
            left: auto;
            right: 66px ;
          }
        }
      }
    }
  }

  &--dropdown{
    position: absolute;
    display: none;
    width: 204px;
    left: 0;
    bottom: calc(100% + 16px);
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-right: 4px;
    padding: 8px 0;
    box-sizing: content-box;
    @media (max-width: 412px) {
      left: 50%;
      transform: translateX(-50%);
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -16px;
      left: 68px;
      width: 8px;
      height: 8px;
      border: 8px solid transparent;
      border-top-color: $white;
      box-sizing: border-box;
      @media (max-width: 412px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    li{
      width: 100%;
      a{
        position: relative;
        padding: 8px 16px;
        display: block;
        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: normal;
        color:$black--text;
        transition: .5s ease all;
        &:hover{
          text-decoration: none;
          background-color:  rgba(0, 0, 0, 0.05);
        }
       &.load:after {
         top: 50%;
         right: 16px;
         margin-top: -8px;
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 50%;
          border: 2px solid #999999;
          border-bottom-color: transparent;
          -webkit-animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
        }
      }
    }
  }
  .btn{
    width: 144px;
    height: 32px;
    border-radius: 16px;
    background-color: rgb(153, 153, 153);
    padding: 8px 16px;

    text-align: center;
    font:{
      size: 1.4rem;
      weight: $font-bold;
    }
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: $white;
    &:hover{
      text-decoration: none;
      background-color: rgb(102, 102, 102);
    }
    &:active{
      transform: scale(.96);
    }
    @media(min-width: 320px) and (max-width: 412px){
      width: 128px;
      height: 40px;
      font-size: rem(16px);
      font-weight: $font-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.4px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px 0;
      margin: 0 10px;
      border-radius: 20px;
    }
    @media(min-width: 320px) and (max-width: 360px){
      margin: 0 16px 0 0;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}