&-sidebar{
  position: fixed;
  z-index: 999;
  top: 88px;
  height: calc(100vh - 128px);
  width:100%;
  max-width: 224px;
  margin-right: 16px;
  transition: top .5s ease-in-out;
  transition-duration: .5s;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  //todo !fix me
  //overflow-y: auto;
  //overflow-x:visible;
  &--close{
    display: none;
  }
  @media(max-width: 412px){
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    transform: translateY(100%);
    transition: .2s ease all;
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    max-width: 412px;
    padding: 48px 50px;
    &.open{
      transform: translateY(0);
    }
    &--close{
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 14px;
      right: 16px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ED254B955-C740-450F-8233-2BCE7A651267%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/close/M/normal'%3E%3Cg id='Group-14'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpath d='M4.5,4.5 L19.5,19.5' id='Line-2' stroke='%23000000' stroke-width='2' stroke-linecap='square'%3E%3C/path%3E%3Cpath d='M19.5,4.5 L4.5,19.5' id='Line-2' stroke='%23000000' stroke-width='2' stroke-linecap='square'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
  @media(max-width: 360px){
    padding: 24px;
  }

  &.fixed{
    top: 30px;
  }
  &.overflow-height{
    position: absolute;
    bottom: 64px;
    height: auto;
    top: auto;
    @media (max-width: 412px){
      position: static;
      display: none;
    }
  }

  &.lazyload{
    ul > li > a{
      pointer-events: none;
      opacity: .5;
      &:before{
        display: none;
      }
    }

    .company-btn{

      &--inner{
        a {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }

  & > ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8px;
    @media (min-width: 1344px) {
      padding-top: 16px;
    }
    & > li{
      position: relative;
      margin-bottom: 12px;
      @media (min-width: 1344px) {
        margin-bottom: 20px;
      }
      &[data-hint]{
        position: relative;
        cursor: pointer;
        &:before{
          top: 50%;
          position: absolute;
          z-index: 99;
          pointer-events: none;
          content: attr(data-hint);
          display: block;
          padding: 12px;
          opacity: 0;
          max-width: 464px;
          left: 100%;
          margin-left: 16px;
          border-radius: 4px;
          background-color: rgb(153, 153, 153);
          transition: .2s ease opacity;
          transition-delay: .4s;
          transform: translateY(-50%);
          text-transform: none;
          white-space: nowrap;
          font:{
            size: 1.4rem;
            weight: $font-regular;
          }
          line-height: 1.6rem;
          color: rgb(255, 255, 255);

        }
        &:after{
          top: 50%;
          position: absolute;
          z-index: 99;
          content: '';
          width: 8px;
          height: 16px;
          left: 100%;
          margin-left: 4px;
          margin-bottom: -8px;
          border: 8px solid transparent;
          border-right-color:rgb(153, 153, 153);
          box-sizing: border-box;
          opacity: 0;
          transition: .2s ease opacity;
          transform: translateY(-50%);
          transition-delay: .4s;
        }
        &:hover{
          &:before,
          &:after{
            opacity: 1;
            transition-delay: 0;
          }

        }
      }
      & > a{

        display: inline-block;
        padding-left: 21px;
        box-sizing: border-box;
        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;

        text-decoration: none;
        color: $black--text;
        transform: .2s all ease;
        @media (min-width: 1344px) {
          font-size: 1.6rem;
          line-height: 2rem;
        }
        &:before{
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &.perfectly{
          &:before{
            background-color: $green;
            opacity: .7;
          }
          &:hover{
            color: rgb(58, 166, 94);
          }
        }
        &.satisfactorily{
          &:before{
            background-color: $gold;
          }
          &:hover{
            color: rgb(230, 163, 69);
          }
        }
        &.dangerously{
          &:before{
            background-color: $red;
          }
          &:hover{
            color: rgb(242, 76, 61);
          }
        }
        &.disabled{
          pointer-events: none;
          opacity: .5;
          color: rgba(0,0,0,.9) !important;
          &:before{
            display: none;
          }
        }
      }
    }
  }
}