.child{
  @media(max-width: 412px){
    padding-right: 24px;
  }
  &-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    @media(max-width: 412px){
      padding: 0;
    }
    &--name{
      padding: 8px 16px;
      font:{
        size: 1.4rem;
        weight: $font-regular;
      }
      line-height: 1.6rem;
      letter-spacing: normal;
      color: $mid-gray--text;
      cursor: pointer;
      transition: .2s ease all;
      border-left: solid 1px rgba(0, 0, 0, 0.15);
      border-top:  solid 1px rgba(0, 0, 0, 0.15);
      border-bottom:  solid 1px rgba(0, 0, 0, 0.15);
      &.active{
        color: $black--text;
        background-color: rgba(0, 0, 0, 0.05);
        @media(max-width: 412px){
          background-color: #1a1a1a;
          color: $white;
        }
      }
      &:hover{
        color: $black--text;
        @media(max-width: 412px){
          color: $white;
        }
      }
      &:first-child{
        border-top-left-radius:4px;
        border-bottom-left-radius:4px ;
        border-right: solid 1px rgba(0, 0, 0, 0.15);
      }
      &:last-child{
        border-top-right-radius:4px;
        border-bottom-right-radius:4px ;
        border-left: 0;
        border-right:  solid 1px rgba(0, 0, 0, 0.15);
      }
      @media (max-width: 412px) {
        margin-right: 8px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        color: $black--text;
        padding: 8px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  &-content{
    &-tab {
      display: none;

      &.no-tab{
        display: block !important;
      }

      &.active {
        display: block;
      }
      .table{
        &-header{
          @media(max-width: 421px){
            display: none;
          }
        }
        &-row{
          justify-content: space-between;
          padding: 6px 16px;
          margin: {
            left: -16px;
            right: -16px;
            bottom: 16px;
          };
          cursor: pointer;
          &:hover{
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.05);
            text-decoration: none;
            @media(max-width: 412px){
              border-radius: 0;
              background-color: transparent;
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
          @media(max-width: 412px){
            margin-right: -24px;
            margin-left: 0;
            padding: 20px 24px 20px 0;
            flex-wrap: wrap;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
            justify-content: flex-start;
            position: relative;
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              right: 16px;
              width: 24px;
              height: 24px;
              display: block;
              background-image: url(../images/icon/mobil-arrow.svg);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
          &.eliminated{
            span{
              color: $mid-gray--text !important;
            }

            &.dangerously{
              .table-col{
                .name{
                  color: rgba(242, 76, 61, .5)!important;
                  //opacity: .5;

                  .icon-name{
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E74B47110-2B13-4DDD-966D-D84EAAA5BB49%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/out/S/bold/dark'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cg id='Group-3' opacity='1' transform='translate(4.000000, 5.000000)' stroke='%23F23D3D'%3E%3Cpath d='M-3.95239397e-14,7 L6.75,0.25' id='Line-3' stroke-width='1.8' stroke-linecap='square'%3E%3C/path%3E%3Cpolyline id='Path' stroke-width='2' points='0 0 7 0 7 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  }
                }
              }
            }
            &.satisfactorily{
              .table-col{
                .name{
                  color: $gold;

                  .icon-name{
                    opacity: .5;
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E74B47110-2B13-4DDD-966D-D84EAAA5BB49%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/out/S/bold/dark'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cg id='Group-3' opacity='1' transform='translate(4.000000, 5.000000)' stroke='%FA9F37'%3E%3Cpath d='M-3.95239397e-14,7 L6.75,0.25' id='Line-3' stroke-width='1.8' stroke-linecap='square'%3E%3C/path%3E%3Cpolyline id='Path' stroke-width='2' points='0 0 7 0 7 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  }
                }
              }
            }
          }
          &.dangerously{
            .table-col{
              .name{
                color: $red;

                .icon-name{
                  opacity: .5;
                  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E74B47110-2B13-4DDD-966D-D84EAAA5BB49%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/out/S/bold/dark'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cg id='Group-3' opacity='1' transform='translate(4.000000, 5.000000)' stroke='%23F23D3D'%3E%3Cpath d='M-3.95239397e-14,7 L6.75,0.25' id='Line-3' stroke-width='1.8' stroke-linecap='square'%3E%3C/path%3E%3Cpolyline id='Path' stroke-width='2' points='0 0 7 0 7 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
              }
            }
          }
          &.satisfactorily{
            .table-col{
              .name{
                color: $gold;

                .icon-name{
                  opacity: .5;
                  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E74B47110-2B13-4DDD-966D-D84EAAA5BB49%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/out/S/bold/dark'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cg id='Group-3' opacity='1' transform='translate(4.000000, 5.000000)' stroke='%23FA9F37'%3E%3Cpath d='M-3.95239397e-14,7 L6.75,0.25' id='Line-3' stroke-width='1.8' stroke-linecap='square'%3E%3C/path%3E%3Cpolyline id='Path' stroke-width='2' points='0 0 7 0 7 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
              }
            }
          }
        }
        &-col{
          width: 64px;
          position: relative;
          text-align: right;
          margin-right: 0;
          justify-content: flex-start;
          @media(max-width: 412px){
            width: 100%;
          }
          &:first-child{
            width: 66%;
            max-width: 472px;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            margin-right: auto;
            @media(max-width: 412px){
              width: 100%;
            }
            span{
              text-align: left;
              display: inline-block;
              width: auto;
              &.name{
                width: 100%;
                margin-bottom: 8px;
                font:{
                  size: 1.4rem;
                  weight: $font-bold;
                }
                line-height: 2rem;
                letter-spacing: 0.5px;
                color:$black--text;
                @media (min-width: 1264px) and (min-height:671px){
                  font-size: 1.6rem;
                }
                @media (min-width: 1344px){
                  font-size: 1.6rem;
                }
                @media(max-width: 412px){
                  font-size: rem(16px);
                }
                .icon-name{
                  margin-left: 4px;
                  vertical-align: baseline;
                  width: 16px;
                  height: 16px;
                  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E74B47110-2B13-4DDD-966D-D84EAAA5BB49%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/out/S/bold/dark'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cg id='Group-3' opacity='0.400000006' transform='translate(4.000000, 5.000000)' stroke='%23000000'%3E%3Cpath d='M-3.95239397e-14,7 L6.75,0.25' id='Line-3' stroke-width='1.8' stroke-linecap='square'%3E%3C/path%3E%3Cpolyline id='Path' stroke-width='2' points='0 0 7 0 7 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  @media(max-width: 412px){
                    display: none;
                  }
                }
                &-info{
                  margin-right: 16px;
                  font:{
                    size: 1.4rem;
                    weight: $font-regular;
                  }
                  line-height: 2rem;
                  letter-spacing: normal;
                  color: $mid-gray--text;
                  @media (min-width: 1264px) and (min-height:671px){
                    font-size: 1.6rem;
                  }
                  @media (min-width: 1344px){
                    font-size: 1.6rem;
                  }
                  @media(max-width: 412px){
                    width: 100%;
                    &:last-child{
                      display: none;
                    }
                  }
                  span{
                    margin-left: 4px;
                    color: $black--text;
                  }
                }
              }
            }
          }
          &:last-child{
            width: 20%;
            text-align: right;
            margin-left: 24px;
          }
          span{
            display: block;
            width: 100%;
            text-align: right;
          }

        }
        &-body{
          .table-col{
            font:{
              size: 1.4rem;
              weight:$font-regular;
            }
            line-height: 2rem;
            letter-spacing: normal;
            color: $black--text;
            @media (min-width: 1264px) and (min-height:671px){
              font-size: 1.6rem;
            }
            @media (min-width: 1344px){
              font-size: 1.6rem;
            }
            @media(max-width: 412px){
              width: auto;
              order: 2;
              &:first-of-type{
                order: 0;
              }
              &:last-of-type{
                order: 1;
                margin-left: 0;
                width: auto;
                font-weight: $font-bold;
                margin-right: 8px;
              }
            }
          }
        }

      }
    }
  }
}