.overflow{
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;


  & > .content{
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width:944px;
    @media (max-width: 412px){
      min-width: 320px;
    }

    .page-content{
      width: 100%;
      height: 100%;

    }
  }
}

.wrapper{
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  @media (min-width: 1184px){
    max-width: 1104px;
  }
  @media (min-width: 1264px){
    max-width: 1184px;
  }
  @media (min-width: 1344px){
    max-width: 1264px;
  }
  @media(max-width: 412px){
    max-width: 412px;
  }

  &-search{
    max-width: 1264px;
    padding: 0;
    @media(max-width: 1280px){
      max-width: 994px;
      padding: 0;
    }
  }
}

div.scrollingHotSpotLeft {
  min-width: 75px;
  width: 10%;
  height: 100%;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  left: 0;
}
div.scrollingHotSpotLeftVisible {
  background-image: url(../images/arrow_left.gif);
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity = 35);
  zoom: 1;
}

div.scrollingHotSpotRight {
  min-width: 75px;
  width: 10%;
  height: 100%;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  right: 0;
}

div.scrollingHotSpotRightVisible {
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.35;
  filter: alpha(opacity = 35);
  -moz-opacity: 0.35;
  zoom: 1;
}
div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
.suggestions-subtext {
  &_inline{
    .suggestions-subtext-delimiter{
      display: none;
    }
  }
}

.mob-hidden{
  @media(max-width: 412px){
    display: none !important;
  }
}