.overflow {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;


  & > .content {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width: 944px;
    @media (max-width: 412px) {
      min-width: 320px;
    }

    .page-content {
      width: 100%;
      height: 100%;

    }
  }
}

.wrapper {
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  @media (min-width: 1184px) {
    max-width: 1104px;
  }
  @media (min-width: 1264px) {
    max-width: 1184px;
  }
  @media (min-width: 1344px) {
    max-width: 1264px;
  }
  @media(max-width: 412px) {
    max-width: 412px;
  }

  &-search {
    max-width: 1264px;
    padding: 0;
    @media(max-width: 1280px) {
      max-width: 994px;
      padding: 0;
    }
  }
}

div.scrollingHotSpotLeft {
  min-width: 75px;
  width: 10%;
  height: 100%;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  left: 0;
}

div.scrollingHotSpotLeftVisible {
  background-image: url(../images/arrow_left.gif);
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity=35);
  zoom: 1;
}

div.scrollingHotSpotRight {
  min-width: 75px;
  width: 10%;
  height: 100%;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  right: 0;
}

div.scrollingHotSpotRightVisible {
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.35;
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  zoom: 1;
}

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}

.suggestions-subtext {
  &_inline {
    .suggestions-subtext-delimiter {
      display: none;
    }
  }
}

.mob-hidden {
  @media(max-width: 412px) {
    display: none !important;
  }
}

.mfp-container {
  @media(max-width: 412px) {
    padding: 0;
  }
}

.mfp-content {
  @media(max-width: 412px) {
    vertical-align: top;
  }
}

.engineering-works {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 304px;
  border-radius: 8px;
  background-color: rgba(59, 59, 59, 0.9);
  padding: 16px 56px 16px 16px;
  box-sizing: border-box;
  z-index: 99;
  @media(max-width: 412px){
    bottom: 8px;
    right: 8px;
    left: 8px;
    width: auto;
  }

  &-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.9);
  }

  &-close {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' opacity='1'%3E%3Cpath d='M0 0h32v32H0z'/%3E%3Cpath stroke='%23fff' stroke-linecap='square' stroke-width='2' d='M7.5 7.5l17 17M24.5 7.5l-17 17'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}