.container{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;


  & > .content{
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width:944px;

    .page-content{
      width: 100%;
      height: 100%;

    }
  }
}

.wrapper{
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  @media (min-width: 1184px){
    max-width: 1104px;
  }
  @media (min-width: 1264px){
    max-width: 1184px;
  }
  @media (min-width: 1344px){
    max-width: 1264px;
  }

  &-search{
    max-width: 1264px;
    padding: 0;
    @media(max-width: 1280px){
      max-width: 994px;
      padding: 0;
    }
  }
}

.btn{
  display: block;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border:none;
  font:{
    family: $font-family;
    weight: $font-bold;
    size: 1.4rem;
  }
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s;
  &-green{
    font:{
      family: $font-family;
      weight: $font-bold;
      size: 1.4rem;
    }
    background-color: $green;
    color: $white;
    &:hover{
      background-color:$green-hover;
      color: $white;
      text-decoration: none;
    }
    &:active{
      color: $white;
      background: $green-hover;
      transform: scale(.96);
    }
  }

  &-default{
    border: solid 1px $white--text;
    color: $black--text;
    background: $white;
    &:hover{
      background: rgba(0,0,0,0.05);
      color: $black--text;
      text-decoration: none;
    }
    &:active{
      transform: scale(.96);
      color: $black--text;
    }
  }

  &-disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
    background: $white;
    border-color: $white--text;
  }

  .loader{
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto ;
    @for $i from 1 through 3{
      &-item--#{$i}{
        display: block;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        animation: opacity 1.5s infinite ease;
        animation-delay: .3s * $i;
        transition: .2s all ease;
      }
    }
  }

}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.zoom-in {

  /* start state */
  .modal  {
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: scale(0.5);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all .2s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .modal  {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .modal {
      transform: scale(0.5);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}

.lds-ring{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;

  div{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border: solid 3px ;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
    border-color: #999 #999 #999 transparent;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}