// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-card-dangerously-name: 'icon-card-dangerously';
$icon-card-dangerously-x: 0px;
$icon-card-dangerously-y: 53px;
$icon-card-dangerously-offset-x: 0px;
$icon-card-dangerously-offset-y: -53px;
$icon-card-dangerously-width: 32px;
$icon-card-dangerously-height: 32px;
$icon-card-dangerously-total-width: 167px;
$icon-card-dangerously-total-height: 143px;
$icon-card-dangerously-image: '../images/sprite.png';
$icon-card-dangerously: (0px, 53px, 0px, -53px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-card-dangerously', );
$icon-close-name: 'icon-close';
$icon-close-x: 143px;
$icon-close-y: 0px;
$icon-close-offset-x: -143px;
$icon-close-offset-y: 0px;
$icon-close-width: 24px;
$icon-close-height: 24px;
$icon-close-total-width: 167px;
$icon-close-total-height: 143px;
$icon-close-image: '../images/sprite.png';
$icon-close: (143px, 0px, -143px, 0px, 24px, 24px, 167px, 143px, '../images/sprite.png', 'icon-close', );
$icon-download-name: 'icon-download';
$icon-download-x: 0px;
$icon-download-y: 90px;
$icon-download-offset-x: 0px;
$icon-download-offset-y: -90px;
$icon-download-width: 32px;
$icon-download-height: 32px;
$icon-download-total-width: 167px;
$icon-download-total-height: 143px;
$icon-download-image: '../images/sprite.png';
$icon-download: (0px, 90px, 0px, -90px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-download', );
$icon-expand-name: 'icon-expand';
$icon-expand-x: 143px;
$icon-expand-y: 29px;
$icon-expand-offset-x: -143px;
$icon-expand-offset-y: -29px;
$icon-expand-width: 16px;
$icon-expand-height: 16px;
$icon-expand-total-width: 167px;
$icon-expand-total-height: 143px;
$icon-expand-image: '../images/sprite.png';
$icon-expand: (143px, 29px, -143px, -29px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'icon-expand', );
$icon-favorites-name: 'icon-favorites';
$icon-favorites-x: 74px;
$icon-favorites-y: 90px;
$icon-favorites-offset-x: -74px;
$icon-favorites-offset-y: -90px;
$icon-favorites-width: 24px;
$icon-favorites-height: 24px;
$icon-favorites-total-width: 167px;
$icon-favorites-total-height: 143px;
$icon-favorites-image: '../images/sprite.png';
$icon-favorites: (74px, 90px, -74px, -90px, 24px, 24px, 167px, 143px, '../images/sprite.png', 'icon-favorites', );
$icon-minus-name: 'icon-minus';
$icon-minus-x: 143px;
$icon-minus-y: 71px;
$icon-minus-offset-x: -143px;
$icon-minus-offset-y: -71px;
$icon-minus-width: 16px;
$icon-minus-height: 16px;
$icon-minus-total-width: 167px;
$icon-minus-total-height: 143px;
$icon-minus-image: '../images/sprite.png';
$icon-minus: (143px, 71px, -143px, -71px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'icon-minus', );
$icon-minus-2x-name: 'icon-minus@2x';
$icon-minus-2x-x: 37px;
$icon-minus-2x-y: 53px;
$icon-minus-2x-offset-x: -37px;
$icon-minus-2x-offset-y: -53px;
$icon-minus-2x-width: 32px;
$icon-minus-2x-height: 32px;
$icon-minus-2x-total-width: 167px;
$icon-minus-2x-total-height: 143px;
$icon-minus-2x-image: '../images/sprite.png';
$icon-minus-2x: (37px, 53px, -37px, -53px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-minus@2x', );
$icon-minus-3x-name: 'icon-minus@3x';
$icon-minus-3x-x: 0px;
$icon-minus-3x-y: 0px;
$icon-minus-3x-offset-x: 0px;
$icon-minus-3x-offset-y: 0px;
$icon-minus-3x-width: 48px;
$icon-minus-3x-height: 48px;
$icon-minus-3x-total-width: 167px;
$icon-minus-3x-total-height: 143px;
$icon-minus-3x-image: '../images/sprite.png';
$icon-minus-3x: (0px, 0px, 0px, 0px, 48px, 48px, 167px, 143px, '../images/sprite.png', 'icon-minus@3x', );
$icon-options-name: 'icon-options';
$icon-options-x: 74px;
$icon-options-y: 53px;
$icon-options-offset-x: -74px;
$icon-options-offset-y: -53px;
$icon-options-width: 24px;
$icon-options-height: 24px;
$icon-options-total-width: 167px;
$icon-options-total-height: 143px;
$icon-options-image: '../images/sprite.png';
$icon-options: (74px, 53px, -74px, -53px, 24px, 24px, 167px, 143px, '../images/sprite.png', 'icon-options', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 42px;
$icon-plus-y: 127px;
$icon-plus-offset-x: -42px;
$icon-plus-offset-y: -127px;
$icon-plus-width: 16px;
$icon-plus-height: 16px;
$icon-plus-total-width: 167px;
$icon-plus-total-height: 143px;
$icon-plus-image: '../images/sprite.png';
$icon-plus: (42px, 127px, -42px, -127px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'icon-plus', );
$icon-plus-2x-name: 'icon-plus@2x';
$icon-plus-2x-x: 37px;
$icon-plus-2x-y: 90px;
$icon-plus-2x-offset-x: -37px;
$icon-plus-2x-offset-y: -90px;
$icon-plus-2x-width: 32px;
$icon-plus-2x-height: 32px;
$icon-plus-2x-total-width: 167px;
$icon-plus-2x-total-height: 143px;
$icon-plus-2x-image: '../images/sprite.png';
$icon-plus-2x: (37px, 90px, -37px, -90px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-plus@2x', );
$icon-plus-3x-name: 'icon-plus@3x';
$icon-plus-3x-x: 53px;
$icon-plus-3x-y: 0px;
$icon-plus-3x-offset-x: -53px;
$icon-plus-3x-offset-y: 0px;
$icon-plus-3x-width: 48px;
$icon-plus-3x-height: 48px;
$icon-plus-3x-total-width: 167px;
$icon-plus-3x-total-height: 143px;
$icon-plus-3x-image: '../images/sprite.png';
$icon-plus-3x: (53px, 0px, -53px, 0px, 48px, 48px, 167px, 143px, '../images/sprite.png', 'icon-plus@3x', );
$icon-print-name: 'icon-print';
$icon-print-x: 106px;
$icon-print-y: 37px;
$icon-print-offset-x: -106px;
$icon-print-offset-y: -37px;
$icon-print-width: 32px;
$icon-print-height: 32px;
$icon-print-total-width: 167px;
$icon-print-total-height: 143px;
$icon-print-image: '../images/sprite.png';
$icon-print: (106px, 37px, -106px, -37px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-print', );
$icon-question-name: 'icon-question';
$icon-question-x: 103px;
$icon-question-y: 90px;
$icon-question-offset-x: -103px;
$icon-question-offset-y: -90px;
$icon-question-width: 24px;
$icon-question-height: 24px;
$icon-question-total-width: 167px;
$icon-question-total-height: 143px;
$icon-question-image: '../images/sprite.png';
$icon-question: (103px, 90px, -103px, -90px, 24px, 24px, 167px, 143px, '../images/sprite.png', 'icon-question', );
$icon-share-name: 'icon-share';
$icon-share-x: 106px;
$icon-share-y: 0px;
$icon-share-offset-x: -106px;
$icon-share-offset-y: 0px;
$icon-share-width: 32px;
$icon-share-height: 32px;
$icon-share-total-width: 167px;
$icon-share-total-height: 143px;
$icon-share-image: '../images/sprite.png';
$icon-share: (106px, 0px, -106px, 0px, 32px, 32px, 167px, 143px, '../images/sprite.png', 'icon-share', );
$perfectly-up-name: 'perfectly-up';
$perfectly-up-x: 143px;
$perfectly-up-y: 92px;
$perfectly-up-offset-x: -143px;
$perfectly-up-offset-y: -92px;
$perfectly-up-width: 16px;
$perfectly-up-height: 16px;
$perfectly-up-total-width: 167px;
$perfectly-up-total-height: 143px;
$perfectly-up-image: '../images/sprite.png';
$perfectly-up: (143px, 92px, -143px, -92px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'perfectly-up', );
$slice-name: 'slice';
$slice-x: 0px;
$slice-y: 127px;
$slice-offset-x: 0px;
$slice-offset-y: -127px;
$slice-width: 16px;
$slice-height: 16px;
$slice-total-width: 167px;
$slice-total-height: 143px;
$slice-image: '../images/sprite.png';
$slice: (0px, 127px, 0px, -127px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'slice', );
$warning-down-name: 'warning-down';
$warning-down-x: 21px;
$warning-down-y: 127px;
$warning-down-offset-x: -21px;
$warning-down-offset-y: -127px;
$warning-down-width: 16px;
$warning-down-height: 16px;
$warning-down-total-width: 167px;
$warning-down-total-height: 143px;
$warning-down-image: '../images/sprite.png';
$warning-down: (21px, 127px, -21px, -127px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'warning-down', );
$warning-up-name: 'warning-up';
$warning-up-x: 143px;
$warning-up-y: 50px;
$warning-up-offset-x: -143px;
$warning-up-offset-y: -50px;
$warning-up-width: 16px;
$warning-up-height: 16px;
$warning-up-total-width: 167px;
$warning-up-total-height: 143px;
$warning-up-image: '../images/sprite.png';
$warning-up: (143px, 50px, -143px, -50px, 16px, 16px, 167px, 143px, '../images/sprite.png', 'warning-up', );
$spritesheet-width: 167px;
$spritesheet-height: 143px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-card-dangerously, $icon-close, $icon-download, $icon-expand, $icon-favorites, $icon-minus, $icon-minus-2x, $icon-minus-3x, $icon-options, $icon-plus, $icon-plus-2x, $icon-plus-3x, $icon-print, $icon-question, $icon-share, $perfectly-up, $slice, $warning-down, $warning-up, );
$spritesheet: (167px, 143px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
