// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-card-dangerously-name: 'icon-card-dangerously';
$icon-card-dangerously-x: 409px;
$icon-card-dangerously-y: 53px;
$icon-card-dangerously-offset-x: -409px;
$icon-card-dangerously-offset-y: -53px;
$icon-card-dangerously-width: 32px;
$icon-card-dangerously-height: 32px;
$icon-card-dangerously-total-width: 457px;
$icon-card-dangerously-total-height: 425px;
$icon-card-dangerously-image: '../images/sprite.png';
$icon-card-dangerously: (409px, 53px, -409px, -53px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-card-dangerously', );
$icon-close-full-name: 'icon-close-full';
$icon-close-full-x: 409px;
$icon-close-full-y: 90px;
$icon-close-full-offset-x: -409px;
$icon-close-full-offset-y: -90px;
$icon-close-full-width: 32px;
$icon-close-full-height: 32px;
$icon-close-full-total-width: 457px;
$icon-close-full-total-height: 425px;
$icon-close-full-image: '../images/sprite.png';
$icon-close-full: (409px, 90px, -409px, -90px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-close-full', );
$icon-close-full-2x-name: 'icon-close-full@2x';
$icon-close-full-2x-x: 0px;
$icon-close-full-2x-y: 279px;
$icon-close-full-2x-offset-x: 0px;
$icon-close-full-2x-offset-y: -279px;
$icon-close-full-2x-width: 64px;
$icon-close-full-2x-height: 64px;
$icon-close-full-2x-total-width: 457px;
$icon-close-full-2x-total-height: 425px;
$icon-close-full-2x-image: '../images/sprite.png';
$icon-close-full-2x: (0px, 279px, 0px, -279px, 64px, 64px, 457px, 425px, '../images/sprite.png', 'icon-close-full@2x', );
$icon-close-full-3x-name: 'icon-close-full@3x';
$icon-close-full-3x-x: 0px;
$icon-close-full-3x-y: 0px;
$icon-close-full-3x-offset-x: 0px;
$icon-close-full-3x-offset-y: 0px;
$icon-close-full-3x-width: 96px;
$icon-close-full-3x-height: 96px;
$icon-close-full-3x-total-width: 457px;
$icon-close-full-3x-total-height: 425px;
$icon-close-full-3x-image: '../images/sprite.png';
$icon-close-full-3x: (0px, 0px, 0px, 0px, 96px, 96px, 457px, 425px, '../images/sprite.png', 'icon-close-full@3x', );
$icon-close-name: 'icon-close';
$icon-close-x: 356px;
$icon-close-y: 318px;
$icon-close-offset-x: -356px;
$icon-close-offset-y: -318px;
$icon-close-width: 24px;
$icon-close-height: 24px;
$icon-close-total-width: 457px;
$icon-close-total-height: 425px;
$icon-close-image: '../images/sprite.png';
$icon-close: (356px, 318px, -356px, -318px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-close', );
$icon-close-2x-name: 'icon-close@2x';
$icon-close-2x-x: 276px;
$icon-close-2x-y: 279px;
$icon-close-2x-offset-x: -276px;
$icon-close-2x-offset-y: -279px;
$icon-close-2x-width: 48px;
$icon-close-2x-height: 48px;
$icon-close-2x-total-width: 457px;
$icon-close-2x-total-height: 425px;
$icon-close-2x-image: '../images/sprite.png';
$icon-close-2x: (276px, 279px, -276px, -279px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-close@2x', );
$icon-close-3x-name: 'icon-close@3x';
$icon-close-3x-x: 202px;
$icon-close-3x-y: 0px;
$icon-close-3x-offset-x: -202px;
$icon-close-3x-offset-y: 0px;
$icon-close-3x-width: 72px;
$icon-close-3x-height: 72px;
$icon-close-3x-total-width: 457px;
$icon-close-3x-total-height: 425px;
$icon-close-3x-image: '../images/sprite.png';
$icon-close-3x: (202px, 0px, -202px, 0px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-close@3x', );
$icon-download-name: 'icon-download';
$icon-download-x: 409px;
$icon-download-y: 127px;
$icon-download-offset-x: -409px;
$icon-download-offset-y: -127px;
$icon-download-width: 32px;
$icon-download-height: 32px;
$icon-download-total-width: 457px;
$icon-download-total-height: 425px;
$icon-download-image: '../images/sprite.png';
$icon-download: (409px, 127px, -409px, -127px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-download', );
$icon-download-2x-name: 'icon-download@2x';
$icon-download-2x-x: 69px;
$icon-download-2x-y: 279px;
$icon-download-2x-offset-x: -69px;
$icon-download-2x-offset-y: -279px;
$icon-download-2x-width: 64px;
$icon-download-2x-height: 64px;
$icon-download-2x-total-width: 457px;
$icon-download-2x-total-height: 425px;
$icon-download-2x-image: '../images/sprite.png';
$icon-download-2x: (69px, 279px, -69px, -279px, 64px, 64px, 457px, 425px, '../images/sprite.png', 'icon-download@2x', );
$icon-download-3x-name: 'icon-download@3x';
$icon-download-3x-x: 101px;
$icon-download-3x-y: 0px;
$icon-download-3x-offset-x: -101px;
$icon-download-3x-offset-y: 0px;
$icon-download-3x-width: 96px;
$icon-download-3x-height: 96px;
$icon-download-3x-total-width: 457px;
$icon-download-3x-total-height: 425px;
$icon-download-3x-image: '../images/sprite.png';
$icon-download-3x: (101px, 0px, -101px, 0px, 96px, 96px, 457px, 425px, '../images/sprite.png', 'icon-download@3x', );
$icon-expand-name: 'icon-expand';
$icon-expand-x: 385px;
$icon-expand-y: 318px;
$icon-expand-offset-x: -385px;
$icon-expand-offset-y: -318px;
$icon-expand-width: 16px;
$icon-expand-height: 16px;
$icon-expand-total-width: 457px;
$icon-expand-total-height: 425px;
$icon-expand-image: '../images/sprite.png';
$icon-expand: (385px, 318px, -385px, -318px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'icon-expand', );
$icon-expand-2x-name: 'icon-expand@2x';
$icon-expand-2x-x: 409px;
$icon-expand-2x-y: 164px;
$icon-expand-2x-offset-x: -409px;
$icon-expand-2x-offset-y: -164px;
$icon-expand-2x-width: 32px;
$icon-expand-2x-height: 32px;
$icon-expand-2x-total-width: 457px;
$icon-expand-2x-total-height: 425px;
$icon-expand-2x-image: '../images/sprite.png';
$icon-expand-2x: (409px, 164px, -409px, -164px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-expand@2x', );
$icon-expand-3x-name: 'icon-expand@3x';
$icon-expand-3x-x: 356px;
$icon-expand-3x-y: 0px;
$icon-expand-3x-offset-x: -356px;
$icon-expand-3x-offset-y: 0px;
$icon-expand-3x-width: 48px;
$icon-expand-3x-height: 48px;
$icon-expand-3x-total-width: 457px;
$icon-expand-3x-total-height: 425px;
$icon-expand-3x-image: '../images/sprite.png';
$icon-expand-3x: (356px, 0px, -356px, 0px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-expand@3x', );
$icon-favorites-name: 'icon-favorites';
$icon-favorites-x: 239px;
$icon-favorites-y: 154px;
$icon-favorites-offset-x: -239px;
$icon-favorites-offset-y: -154px;
$icon-favorites-width: 24px;
$icon-favorites-height: 24px;
$icon-favorites-total-width: 457px;
$icon-favorites-total-height: 425px;
$icon-favorites-image: '../images/sprite.png';
$icon-favorites: (239px, 154px, -239px, -154px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-favorites', );
$icon-favorites-2x-name: 'icon-favorites@2x';
$icon-favorites-2x-x: 356px;
$icon-favorites-2x-y: 53px;
$icon-favorites-2x-offset-x: -356px;
$icon-favorites-2x-offset-y: -53px;
$icon-favorites-2x-width: 48px;
$icon-favorites-2x-height: 48px;
$icon-favorites-2x-total-width: 457px;
$icon-favorites-2x-total-height: 425px;
$icon-favorites-2x-image: '../images/sprite.png';
$icon-favorites-2x: (356px, 53px, -356px, -53px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-favorites@2x', );
$icon-favorites-3x-name: 'icon-favorites@3x';
$icon-favorites-3x-x: 202px;
$icon-favorites-3x-y: 77px;
$icon-favorites-3x-offset-x: -202px;
$icon-favorites-3x-offset-y: -77px;
$icon-favorites-3x-width: 72px;
$icon-favorites-3x-height: 72px;
$icon-favorites-3x-total-width: 457px;
$icon-favorites-3x-total-height: 425px;
$icon-favorites-3x-image: '../images/sprite.png';
$icon-favorites-3x: (202px, 77px, -202px, -77px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-favorites@3x', );
$icon-minus-name: 'icon-minus';
$icon-minus-x: 329px;
$icon-minus-y: 279px;
$icon-minus-offset-x: -329px;
$icon-minus-offset-y: -279px;
$icon-minus-width: 16px;
$icon-minus-height: 16px;
$icon-minus-total-width: 457px;
$icon-minus-total-height: 425px;
$icon-minus-image: '../images/sprite.png';
$icon-minus: (329px, 279px, -329px, -279px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'icon-minus', );
$icon-minus-2x-name: 'icon-minus@2x';
$icon-minus-2x-x: 409px;
$icon-minus-2x-y: 201px;
$icon-minus-2x-offset-x: -409px;
$icon-minus-2x-offset-y: -201px;
$icon-minus-2x-width: 32px;
$icon-minus-2x-height: 32px;
$icon-minus-2x-total-width: 457px;
$icon-minus-2x-total-height: 425px;
$icon-minus-2x-image: '../images/sprite.png';
$icon-minus-2x: (409px, 201px, -409px, -201px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-minus@2x', );
$icon-minus-3x-name: 'icon-minus@3x';
$icon-minus-3x-x: 356px;
$icon-minus-3x-y: 106px;
$icon-minus-3x-offset-x: -356px;
$icon-minus-3x-offset-y: -106px;
$icon-minus-3x-width: 48px;
$icon-minus-3x-height: 48px;
$icon-minus-3x-total-width: 457px;
$icon-minus-3x-total-height: 425px;
$icon-minus-3x-image: '../images/sprite.png';
$icon-minus-3x: (356px, 106px, -356px, -106px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-minus@3x', );
$icon-name-name: 'icon-name';
$icon-name-x: 329px;
$icon-name-y: 300px;
$icon-name-offset-x: -329px;
$icon-name-offset-y: -300px;
$icon-name-width: 16px;
$icon-name-height: 16px;
$icon-name-total-width: 457px;
$icon-name-total-height: 425px;
$icon-name-image: '../images/sprite.png';
$icon-name: (329px, 300px, -329px, -300px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'icon-name', );
$icon-name-2x-name: 'icon-name@2x';
$icon-name-2x-x: 409px;
$icon-name-2x-y: 238px;
$icon-name-2x-offset-x: -409px;
$icon-name-2x-offset-y: -238px;
$icon-name-2x-width: 32px;
$icon-name-2x-height: 32px;
$icon-name-2x-total-width: 457px;
$icon-name-2x-total-height: 425px;
$icon-name-2x-image: '../images/sprite.png';
$icon-name-2x: (409px, 238px, -409px, -238px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-name@2x', );
$icon-name-3x-name: 'icon-name@3x';
$icon-name-3x-x: 356px;
$icon-name-3x-y: 159px;
$icon-name-3x-offset-x: -356px;
$icon-name-3x-offset-y: -159px;
$icon-name-3x-width: 48px;
$icon-name-3x-height: 48px;
$icon-name-3x-total-width: 457px;
$icon-name-3x-total-height: 425px;
$icon-name-3x-image: '../images/sprite.png';
$icon-name-3x: (356px, 159px, -356px, -159px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-name@3x', );
$icon-options-name: 'icon-options';
$icon-options-x: 231px;
$icon-options-y: 202px;
$icon-options-offset-x: -231px;
$icon-options-offset-y: -202px;
$icon-options-width: 24px;
$icon-options-height: 24px;
$icon-options-total-width: 457px;
$icon-options-total-height: 425px;
$icon-options-image: '../images/sprite.png';
$icon-options: (231px, 202px, -231px, -202px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-options', );
$icon-options-2x-name: 'icon-options@2x';
$icon-options-2x-x: 356px;
$icon-options-2x-y: 212px;
$icon-options-2x-offset-x: -356px;
$icon-options-2x-offset-y: -212px;
$icon-options-2x-width: 48px;
$icon-options-2x-height: 48px;
$icon-options-2x-total-width: 457px;
$icon-options-2x-total-height: 425px;
$icon-options-2x-image: '../images/sprite.png';
$icon-options-2x: (356px, 212px, -356px, -212px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-options@2x', );
$icon-options-3x-name: 'icon-options@3x';
$icon-options-3x-x: 0px;
$icon-options-3x-y: 202px;
$icon-options-3x-offset-x: 0px;
$icon-options-3x-offset-y: -202px;
$icon-options-3x-width: 72px;
$icon-options-3x-height: 72px;
$icon-options-3x-total-width: 457px;
$icon-options-3x-total-height: 425px;
$icon-options-3x-image: '../images/sprite.png';
$icon-options-3x: (0px, 202px, 0px, -202px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-options@3x', );
$icon-password-show-name: 'icon-password-show';
$icon-password-show-x: 231px;
$icon-password-show-y: 231px;
$icon-password-show-offset-x: -231px;
$icon-password-show-offset-y: -231px;
$icon-password-show-width: 24px;
$icon-password-show-height: 24px;
$icon-password-show-total-width: 457px;
$icon-password-show-total-height: 425px;
$icon-password-show-image: '../images/sprite.png';
$icon-password-show: (231px, 231px, -231px, -231px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-password-show', );
$icon-password-show-2x-name: 'icon-password-show@2x';
$icon-password-show-2x-x: 356px;
$icon-password-show-2x-y: 265px;
$icon-password-show-2x-offset-x: -356px;
$icon-password-show-2x-offset-y: -265px;
$icon-password-show-2x-width: 48px;
$icon-password-show-2x-height: 48px;
$icon-password-show-2x-total-width: 457px;
$icon-password-show-2x-total-height: 425px;
$icon-password-show-2x-image: '../images/sprite.png';
$icon-password-show-2x: (356px, 265px, -356px, -265px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-password-show@2x', );
$icon-password-show-3x-name: 'icon-password-show@3x';
$icon-password-show-3x-x: 77px;
$icon-password-show-3x-y: 202px;
$icon-password-show-3x-offset-x: -77px;
$icon-password-show-3x-offset-y: -202px;
$icon-password-show-3x-width: 72px;
$icon-password-show-3x-height: 72px;
$icon-password-show-3x-total-width: 457px;
$icon-password-show-3x-total-height: 425px;
$icon-password-show-3x-image: '../images/sprite.png';
$icon-password-show-3x: (77px, 202px, -77px, -202px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-password-show@3x', );
$icon-password-name: 'icon-password';
$icon-password-x: 371px;
$icon-password-y: 348px;
$icon-password-offset-x: -371px;
$icon-password-offset-y: -348px;
$icon-password-width: 24px;
$icon-password-height: 24px;
$icon-password-total-width: 457px;
$icon-password-total-height: 425px;
$icon-password-image: '../images/sprite.png';
$icon-password: (371px, 348px, -371px, -348px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-password', );
$icon-password-2x-name: 'icon-password@2x';
$icon-password-2x-x: 0px;
$icon-password-2x-y: 348px;
$icon-password-2x-offset-x: 0px;
$icon-password-2x-offset-y: -348px;
$icon-password-2x-width: 48px;
$icon-password-2x-height: 48px;
$icon-password-2x-total-width: 457px;
$icon-password-2x-total-height: 425px;
$icon-password-2x-image: '../images/sprite.png';
$icon-password-2x: (0px, 348px, 0px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-password@2x', );
$icon-password-3x-name: 'icon-password@3x';
$icon-password-3x-x: 154px;
$icon-password-3x-y: 202px;
$icon-password-3x-offset-x: -154px;
$icon-password-3x-offset-y: -202px;
$icon-password-3x-width: 72px;
$icon-password-3x-height: 72px;
$icon-password-3x-total-width: 457px;
$icon-password-3x-total-height: 425px;
$icon-password-3x-image: '../images/sprite.png';
$icon-password-3x: (154px, 202px, -154px, -202px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-password@3x', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 371px;
$icon-plus-y: 377px;
$icon-plus-offset-x: -371px;
$icon-plus-offset-y: -377px;
$icon-plus-width: 16px;
$icon-plus-height: 16px;
$icon-plus-total-width: 457px;
$icon-plus-total-height: 425px;
$icon-plus-image: '../images/sprite.png';
$icon-plus: (371px, 377px, -371px, -377px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'icon-plus', );
$icon-plus-2x-name: 'icon-plus@2x';
$icon-plus-2x-x: 409px;
$icon-plus-2x-y: 275px;
$icon-plus-2x-offset-x: -409px;
$icon-plus-2x-offset-y: -275px;
$icon-plus-2x-width: 32px;
$icon-plus-2x-height: 32px;
$icon-plus-2x-total-width: 457px;
$icon-plus-2x-total-height: 425px;
$icon-plus-2x-image: '../images/sprite.png';
$icon-plus-2x: (409px, 275px, -409px, -275px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-plus@2x', );
$icon-plus-3x-name: 'icon-plus@3x';
$icon-plus-3x-x: 53px;
$icon-plus-3x-y: 348px;
$icon-plus-3x-offset-x: -53px;
$icon-plus-3x-offset-y: -348px;
$icon-plus-3x-width: 48px;
$icon-plus-3x-height: 48px;
$icon-plus-3x-total-width: 457px;
$icon-plus-3x-total-height: 425px;
$icon-plus-3x-image: '../images/sprite.png';
$icon-plus-3x: (53px, 348px, -53px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-plus@3x', );
$icon-print-name: 'icon-print';
$icon-print-x: 409px;
$icon-print-y: 312px;
$icon-print-offset-x: -409px;
$icon-print-offset-y: -312px;
$icon-print-width: 32px;
$icon-print-height: 32px;
$icon-print-total-width: 457px;
$icon-print-total-height: 425px;
$icon-print-image: '../images/sprite.png';
$icon-print: (409px, 312px, -409px, -312px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-print', );
$icon-print-2x-name: 'icon-print@2x';
$icon-print-2x-x: 138px;
$icon-print-2x-y: 279px;
$icon-print-2x-offset-x: -138px;
$icon-print-2x-offset-y: -279px;
$icon-print-2x-width: 64px;
$icon-print-2x-height: 64px;
$icon-print-2x-total-width: 457px;
$icon-print-2x-total-height: 425px;
$icon-print-2x-image: '../images/sprite.png';
$icon-print-2x: (138px, 279px, -138px, -279px, 64px, 64px, 457px, 425px, '../images/sprite.png', 'icon-print@2x', );
$icon-print-3x-name: 'icon-print@3x';
$icon-print-3x-x: 0px;
$icon-print-3x-y: 101px;
$icon-print-3x-offset-x: 0px;
$icon-print-3x-offset-y: -101px;
$icon-print-3x-width: 96px;
$icon-print-3x-height: 96px;
$icon-print-3x-total-width: 457px;
$icon-print-3x-total-height: 425px;
$icon-print-3x-image: '../images/sprite.png';
$icon-print-3x: (0px, 101px, 0px, -101px, 96px, 96px, 457px, 425px, '../images/sprite.png', 'icon-print@3x', );
$icon-question-name: 'icon-question';
$icon-question-x: 0px;
$icon-question-y: 401px;
$icon-question-offset-x: 0px;
$icon-question-offset-y: -401px;
$icon-question-width: 24px;
$icon-question-height: 24px;
$icon-question-total-width: 457px;
$icon-question-total-height: 425px;
$icon-question-image: '../images/sprite.png';
$icon-question: (0px, 401px, 0px, -401px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-question', );
$icon-question-2x-name: 'icon-question@2x';
$icon-question-2x-x: 106px;
$icon-question-2x-y: 348px;
$icon-question-2x-offset-x: -106px;
$icon-question-2x-offset-y: -348px;
$icon-question-2x-width: 48px;
$icon-question-2x-height: 48px;
$icon-question-2x-total-width: 457px;
$icon-question-2x-total-height: 425px;
$icon-question-2x-image: '../images/sprite.png';
$icon-question-2x: (106px, 348px, -106px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-question@2x', );
$icon-question-3x-name: 'icon-question@3x';
$icon-question-3x-x: 279px;
$icon-question-3x-y: 0px;
$icon-question-3x-offset-x: -279px;
$icon-question-3x-offset-y: 0px;
$icon-question-3x-width: 72px;
$icon-question-3x-height: 72px;
$icon-question-3x-total-width: 457px;
$icon-question-3x-total-height: 425px;
$icon-question-3x-image: '../images/sprite.png';
$icon-question-3x: (279px, 0px, -279px, 0px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-question@3x', );
$icon-share-name: 'icon-share';
$icon-share-x: 409px;
$icon-share-y: 349px;
$icon-share-offset-x: -409px;
$icon-share-offset-y: -349px;
$icon-share-width: 32px;
$icon-share-height: 32px;
$icon-share-total-width: 457px;
$icon-share-total-height: 425px;
$icon-share-image: '../images/sprite.png';
$icon-share: (409px, 349px, -409px, -349px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'icon-share', );
$icon-share-2x-name: 'icon-share@2x';
$icon-share-2x-x: 207px;
$icon-share-2x-y: 279px;
$icon-share-2x-offset-x: -207px;
$icon-share-2x-offset-y: -279px;
$icon-share-2x-width: 64px;
$icon-share-2x-height: 64px;
$icon-share-2x-total-width: 457px;
$icon-share-2x-total-height: 425px;
$icon-share-2x-image: '../images/sprite.png';
$icon-share-2x: (207px, 279px, -207px, -279px, 64px, 64px, 457px, 425px, '../images/sprite.png', 'icon-share@2x', );
$icon-share-3x-name: 'icon-share@3x';
$icon-share-3x-x: 101px;
$icon-share-3x-y: 101px;
$icon-share-3x-offset-x: -101px;
$icon-share-3x-offset-y: -101px;
$icon-share-3x-width: 96px;
$icon-share-3x-height: 96px;
$icon-share-3x-total-width: 457px;
$icon-share-3x-total-height: 425px;
$icon-share-3x-image: '../images/sprite.png';
$icon-share-3x: (101px, 101px, -101px, -101px, 96px, 96px, 457px, 425px, '../images/sprite.png', 'icon-share@3x', );
$icon-sucsess-name: 'icon-sucsess';
$icon-sucsess-x: 29px;
$icon-sucsess-y: 401px;
$icon-sucsess-offset-x: -29px;
$icon-sucsess-offset-y: -401px;
$icon-sucsess-width: 24px;
$icon-sucsess-height: 24px;
$icon-sucsess-total-width: 457px;
$icon-sucsess-total-height: 425px;
$icon-sucsess-image: '../images/sprite.png';
$icon-sucsess: (29px, 401px, -29px, -401px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-sucsess', );
$icon-sucsess-2x-name: 'icon-sucsess@2x';
$icon-sucsess-2x-x: 159px;
$icon-sucsess-2x-y: 348px;
$icon-sucsess-2x-offset-x: -159px;
$icon-sucsess-2x-offset-y: -348px;
$icon-sucsess-2x-width: 48px;
$icon-sucsess-2x-height: 48px;
$icon-sucsess-2x-total-width: 457px;
$icon-sucsess-2x-total-height: 425px;
$icon-sucsess-2x-image: '../images/sprite.png';
$icon-sucsess-2x: (159px, 348px, -159px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-sucsess@2x', );
$icon-sucsess-3x-name: 'icon-sucsess@3x';
$icon-sucsess-3x-x: 279px;
$icon-sucsess-3x-y: 77px;
$icon-sucsess-3x-offset-x: -279px;
$icon-sucsess-3x-offset-y: -77px;
$icon-sucsess-3x-width: 72px;
$icon-sucsess-3x-height: 72px;
$icon-sucsess-3x-total-width: 457px;
$icon-sucsess-3x-total-height: 425px;
$icon-sucsess-3x-image: '../images/sprite.png';
$icon-sucsess-3x: (279px, 77px, -279px, -77px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-sucsess@3x', );
$icon-time-name: 'icon-time';
$icon-time-x: 58px;
$icon-time-y: 401px;
$icon-time-offset-x: -58px;
$icon-time-offset-y: -401px;
$icon-time-width: 24px;
$icon-time-height: 24px;
$icon-time-total-width: 457px;
$icon-time-total-height: 425px;
$icon-time-image: '../images/sprite.png';
$icon-time: (58px, 401px, -58px, -401px, 24px, 24px, 457px, 425px, '../images/sprite.png', 'icon-time', );
$icon-time-2x-name: 'icon-time@2x';
$icon-time-2x-x: 212px;
$icon-time-2x-y: 348px;
$icon-time-2x-offset-x: -212px;
$icon-time-2x-offset-y: -348px;
$icon-time-2x-width: 48px;
$icon-time-2x-height: 48px;
$icon-time-2x-total-width: 457px;
$icon-time-2x-total-height: 425px;
$icon-time-2x-image: '../images/sprite.png';
$icon-time-2x: (212px, 348px, -212px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'icon-time@2x', );
$icon-time-3x-name: 'icon-time@3x';
$icon-time-3x-x: 279px;
$icon-time-3x-y: 154px;
$icon-time-3x-offset-x: -279px;
$icon-time-3x-offset-y: -154px;
$icon-time-3x-width: 72px;
$icon-time-3x-height: 72px;
$icon-time-3x-total-width: 457px;
$icon-time-3x-total-height: 425px;
$icon-time-3x-image: '../images/sprite.png';
$icon-time-3x: (279px, 154px, -279px, -154px, 72px, 72px, 457px, 425px, '../images/sprite.png', 'icon-time@3x', );
$perfectly-up-name: 'perfectly-up';
$perfectly-up-x: 87px;
$perfectly-up-y: 401px;
$perfectly-up-offset-x: -87px;
$perfectly-up-offset-y: -401px;
$perfectly-up-width: 16px;
$perfectly-up-height: 16px;
$perfectly-up-total-width: 457px;
$perfectly-up-total-height: 425px;
$perfectly-up-image: '../images/sprite.png';
$perfectly-up: (87px, 401px, -87px, -401px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'perfectly-up', );
$perfectly-up-2x-name: 'perfectly-up@2x';
$perfectly-up-2x-x: 279px;
$perfectly-up-2x-y: 231px;
$perfectly-up-2x-offset-x: -279px;
$perfectly-up-2x-offset-y: -231px;
$perfectly-up-2x-width: 32px;
$perfectly-up-2x-height: 32px;
$perfectly-up-2x-total-width: 457px;
$perfectly-up-2x-total-height: 425px;
$perfectly-up-2x-image: '../images/sprite.png';
$perfectly-up-2x: (279px, 231px, -279px, -231px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'perfectly-up@2x', );
$perfectly-up-3x-name: 'perfectly-up@3x';
$perfectly-up-3x-x: 265px;
$perfectly-up-3x-y: 348px;
$perfectly-up-3x-offset-x: -265px;
$perfectly-up-3x-offset-y: -348px;
$perfectly-up-3x-width: 48px;
$perfectly-up-3x-height: 48px;
$perfectly-up-3x-total-width: 457px;
$perfectly-up-3x-total-height: 425px;
$perfectly-up-3x-image: '../images/sprite.png';
$perfectly-up-3x: (265px, 348px, -265px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'perfectly-up@3x', );
$slice-name: 'slice';
$slice-x: 108px;
$slice-y: 401px;
$slice-offset-x: -108px;
$slice-offset-y: -401px;
$slice-width: 16px;
$slice-height: 16px;
$slice-total-width: 457px;
$slice-total-height: 425px;
$slice-image: '../images/sprite.png';
$slice: (108px, 401px, -108px, -401px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'slice', );
$warning-down-name: 'warning-down';
$warning-down-x: 129px;
$warning-down-y: 401px;
$warning-down-offset-x: -129px;
$warning-down-offset-y: -401px;
$warning-down-width: 16px;
$warning-down-height: 16px;
$warning-down-total-width: 457px;
$warning-down-total-height: 425px;
$warning-down-image: '../images/sprite.png';
$warning-down: (129px, 401px, -129px, -401px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'warning-down', );
$warning-down-2x-name: 'warning-down@2x';
$warning-down-2x-x: 316px;
$warning-down-2x-y: 231px;
$warning-down-2x-offset-x: -316px;
$warning-down-2x-offset-y: -231px;
$warning-down-2x-width: 32px;
$warning-down-2x-height: 32px;
$warning-down-2x-total-width: 457px;
$warning-down-2x-total-height: 425px;
$warning-down-2x-image: '../images/sprite.png';
$warning-down-2x: (316px, 231px, -316px, -231px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'warning-down@2x', );
$warning-down-3x-name: 'warning-down@3x';
$warning-down-3x-x: 318px;
$warning-down-3x-y: 348px;
$warning-down-3x-offset-x: -318px;
$warning-down-3x-offset-y: -348px;
$warning-down-3x-width: 48px;
$warning-down-3x-height: 48px;
$warning-down-3x-total-width: 457px;
$warning-down-3x-total-height: 425px;
$warning-down-3x-image: '../images/sprite.png';
$warning-down-3x: (318px, 348px, -318px, -348px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'warning-down@3x', );
$warning-up-name: 'warning-up';
$warning-up-x: 150px;
$warning-up-y: 401px;
$warning-up-offset-x: -150px;
$warning-up-offset-y: -401px;
$warning-up-width: 16px;
$warning-up-height: 16px;
$warning-up-total-width: 457px;
$warning-up-total-height: 425px;
$warning-up-image: '../images/sprite.png';
$warning-up: (150px, 401px, -150px, -401px, 16px, 16px, 457px, 425px, '../images/sprite.png', 'warning-up', );
$warning-up-2x-name: 'warning-up@2x';
$warning-up-2x-x: 202px;
$warning-up-2x-y: 154px;
$warning-up-2x-offset-x: -202px;
$warning-up-2x-offset-y: -154px;
$warning-up-2x-width: 32px;
$warning-up-2x-height: 32px;
$warning-up-2x-total-width: 457px;
$warning-up-2x-total-height: 425px;
$warning-up-2x-image: '../images/sprite.png';
$warning-up-2x: (202px, 154px, -202px, -154px, 32px, 32px, 457px, 425px, '../images/sprite.png', 'warning-up@2x', );
$warning-up-3x-name: 'warning-up@3x';
$warning-up-3x-x: 409px;
$warning-up-3x-y: 0px;
$warning-up-3x-offset-x: -409px;
$warning-up-3x-offset-y: 0px;
$warning-up-3x-width: 48px;
$warning-up-3x-height: 48px;
$warning-up-3x-total-width: 457px;
$warning-up-3x-total-height: 425px;
$warning-up-3x-image: '../images/sprite.png';
$warning-up-3x: (409px, 0px, -409px, 0px, 48px, 48px, 457px, 425px, '../images/sprite.png', 'warning-up@3x', );
$spritesheet-width: 457px;
$spritesheet-height: 425px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-card-dangerously, $icon-close-full, $icon-close-full-2x, $icon-close-full-3x, $icon-close, $icon-close-2x, $icon-close-3x, $icon-download, $icon-download-2x, $icon-download-3x, $icon-expand, $icon-expand-2x, $icon-expand-3x, $icon-favorites, $icon-favorites-2x, $icon-favorites-3x, $icon-minus, $icon-minus-2x, $icon-minus-3x, $icon-name, $icon-name-2x, $icon-name-3x, $icon-options, $icon-options-2x, $icon-options-3x, $icon-password-show, $icon-password-show-2x, $icon-password-show-3x, $icon-password, $icon-password-2x, $icon-password-3x, $icon-plus, $icon-plus-2x, $icon-plus-3x, $icon-print, $icon-print-2x, $icon-print-3x, $icon-question, $icon-question-2x, $icon-question-3x, $icon-share, $icon-share-2x, $icon-share-3x, $icon-sucsess, $icon-sucsess-2x, $icon-sucsess-3x, $icon-time, $icon-time-2x, $icon-time-3x, $perfectly-up, $perfectly-up-2x, $perfectly-up-3x, $slice, $warning-down, $warning-down-2x, $warning-down-3x, $warning-up, $warning-up-2x, $warning-up-3x, );
$spritesheet: (457px, 425px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
