// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-card-dangerously-name: 'icon-card-dangerously';
$icon-card-dangerously-x: 53px;
$icon-card-dangerously-y: 0px;
$icon-card-dangerously-offset-x: -53px;
$icon-card-dangerously-offset-y: 0px;
$icon-card-dangerously-width: 32px;
$icon-card-dangerously-height: 32px;
$icon-card-dangerously-total-width: 122px;
$icon-card-dangerously-total-height: 106px;
$icon-card-dangerously-image: '/images/sprite.png';
$icon-card-dangerously: (53px, 0px, -53px, 0px, 32px, 32px, 122px, 106px, '/images/sprite.png', 'icon-card-dangerously', );
$icon-download-name: 'icon-download';
$icon-download-x: 0px;
$icon-download-y: 53px;
$icon-download-offset-x: 0px;
$icon-download-offset-y: -53px;
$icon-download-width: 32px;
$icon-download-height: 32px;
$icon-download-total-width: 122px;
$icon-download-total-height: 106px;
$icon-download-image: '/images/sprite.png';
$icon-download: (0px, 53px, 0px, -53px, 32px, 32px, 122px, 106px, '/images/sprite.png', 'icon-download', );
$icon-print-name: 'icon-print';
$icon-print-x: 37px;
$icon-print-y: 53px;
$icon-print-offset-x: -37px;
$icon-print-offset-y: -53px;
$icon-print-width: 32px;
$icon-print-height: 32px;
$icon-print-total-width: 122px;
$icon-print-total-height: 106px;
$icon-print-image: '/images/sprite.png';
$icon-print: (37px, 53px, -37px, -53px, 32px, 32px, 122px, 106px, '/images/sprite.png', 'icon-print', );
$icon-share-name: 'icon-share';
$icon-share-x: 90px;
$icon-share-y: 0px;
$icon-share-offset-x: -90px;
$icon-share-offset-y: 0px;
$icon-share-width: 32px;
$icon-share-height: 32px;
$icon-share-total-width: 122px;
$icon-share-total-height: 106px;
$icon-share-image: '/images/sprite.png';
$icon-share: (90px, 0px, -90px, 0px, 32px, 32px, 122px, 106px, '/images/sprite.png', 'icon-share', );
$perfectly-up-name: 'perfectly-up';
$perfectly-up-x: 0px;
$perfectly-up-y: 90px;
$perfectly-up-offset-x: 0px;
$perfectly-up-offset-y: -90px;
$perfectly-up-width: 16px;
$perfectly-up-height: 16px;
$perfectly-up-total-width: 122px;
$perfectly-up-total-height: 106px;
$perfectly-up-image: '/images/sprite.png';
$perfectly-up: (0px, 90px, 0px, -90px, 16px, 16px, 122px, 106px, '/images/sprite.png', 'perfectly-up', );
$slice-name: 'slice';
$slice-x: 21px;
$slice-y: 90px;
$slice-offset-x: -21px;
$slice-offset-y: -90px;
$slice-width: 16px;
$slice-height: 16px;
$slice-total-width: 122px;
$slice-total-height: 106px;
$slice-image: '/images/sprite.png';
$slice: (21px, 90px, -21px, -90px, 16px, 16px, 122px, 106px, '/images/sprite.png', 'slice', );
$warning-down-name: 'warning-down';
$warning-down-x: 42px;
$warning-down-y: 90px;
$warning-down-offset-x: -42px;
$warning-down-offset-y: -90px;
$warning-down-width: 16px;
$warning-down-height: 16px;
$warning-down-total-width: 122px;
$warning-down-total-height: 106px;
$warning-down-image: '/images/sprite.png';
$warning-down: (42px, 90px, -42px, -90px, 16px, 16px, 122px, 106px, '/images/sprite.png', 'warning-down', );
$warning-down-2x-name: 'warning-down@2x';
$warning-down-2x-x: 90px;
$warning-down-2x-y: 37px;
$warning-down-2x-offset-x: -90px;
$warning-down-2x-offset-y: -37px;
$warning-down-2x-width: 32px;
$warning-down-2x-height: 32px;
$warning-down-2x-total-width: 122px;
$warning-down-2x-total-height: 106px;
$warning-down-2x-image: '/images/sprite.png';
$warning-down-2x: (90px, 37px, -90px, -37px, 32px, 32px, 122px, 106px, '/images/sprite.png', 'warning-down@2x', );
$warning-down-3x-name: 'warning-down@3x';
$warning-down-3x-x: 0px;
$warning-down-3x-y: 0px;
$warning-down-3x-offset-x: 0px;
$warning-down-3x-offset-y: 0px;
$warning-down-3x-width: 48px;
$warning-down-3x-height: 48px;
$warning-down-3x-total-width: 122px;
$warning-down-3x-total-height: 106px;
$warning-down-3x-image: '/images/sprite.png';
$warning-down-3x: (0px, 0px, 0px, 0px, 48px, 48px, 122px, 106px, '/images/sprite.png', 'warning-down@3x', );
$warning-up-name: 'warning-up';
$warning-up-x: 63px;
$warning-up-y: 90px;
$warning-up-offset-x: -63px;
$warning-up-offset-y: -90px;
$warning-up-width: 16px;
$warning-up-height: 16px;
$warning-up-total-width: 122px;
$warning-up-total-height: 106px;
$warning-up-image: '/images/sprite.png';
$warning-up: (63px, 90px, -63px, -90px, 16px, 16px, 122px, 106px, '/images/sprite.png', 'warning-up', );
$spritesheet-width: 122px;
$spritesheet-height: 106px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($icon-card-dangerously, $icon-download, $icon-print, $icon-share, $perfectly-up, $slice, $warning-down, $warning-down-2x, $warning-down-3x, $warning-up, );
$spritesheet: (122px, 106px, '/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
