@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.zoom-in {

  /* start state */
  .modal  {
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: scale(0.5);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all .2s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .modal  {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .modal {
      transform: scale(0.5);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}

.lds-ring{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;

  div{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border: solid 3px ;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
    border-color: #999 #999 #999 transparent;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


//анимация стопфакторов
@keyframes cbhCircle {
  0% {
    transform:scale(1);
    opacity:0
  }
  30% {
    transform:scale(1.5);
    opacity:0;
  }
  31% {
    transform:scale(1.5);
    opacity:.2;
  }
  100% {
    transform:scale(1.8);
    opacity:0;
  }
}
@keyframes cbhCircle-inner {
  0% {
    transform:scale(1);
    opacity:.01
  }
  30% {
    transform:scale(1.5);
    opacity:.2
  }
  100% {
    transform:scale(1);
    opacity:0;
  }
}
@keyframes lazyload{
  0%{
    opacity: 1;
  }
  50%{
    opacity: .5;
  }
}