.card{
  width: 100%;
  //position: relative;
  min-height: 288px;
  display: flex;
  flex-direction: column;
  &.no-index{
    .card-content{
      margin: 48px 0 56px;
      @media(max-width: 412px){
        padding-right: 24px;
        margin: 40px 0 64px;
      }
      p{
        max-width: 304px;
        margin: auto;
        text-align: center;
        font:{
          size: 1.6rem;
          weight: $font-regular;
        }
        line-height: 2rem;
        letter-spacing: normal;
        color: $mid-gray--text;
        @media (max-width: 1343px){
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
        @media (max-height: 671px) and (max-width: 1264px){
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      };

    }
    .card-footer{
      .btn{
        display: none;
      }
    }
  }
  &.dangerously{
    .card-header--factors_icon{
      position: absolute;
      display: block;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='40px' height='40px' viewBox='0 0 40 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EAC5EEC6E-2150-4A16-BBE1-27952C7829B7%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/stopfactor/XL/stop'%3E%3Cg id='Group'%3E%3Cg id='Group-2'%3E%3Crect id='Rectangle' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Ccircle id='Oval' fill='%23F24C3D' cx='20' cy='20' r='20'%3E%3C/circle%3E%3Cg id='Group-9' transform='translate(15.000000, 15.000000)' stroke='%23FFFFFF' stroke-linecap='square' stroke-width='3.5'%3E%3Cpath d='M2.66009437e-13,10 L10,1.71418435e-13' id='Line-7'%3E%3C/path%3E%3Cpath d='M-3.96127575e-13,2.40030218e-12 L10,10' id='Line-7'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      top: -8px;
      right: 8px;
      background-color: $white;
      z-index: 2;
      @media(max-width: 412px){
        width: 32px;
        height: 32px;
        right: 24px;
        top: 0;
      }
      &.active{
        &:after{
          position: absolute;
          content: '';
          z-index: -1;
          left: 0;
          top: 0;
          transform:scale(1.6);
          width: 40px;
          height: 40px;
          border: 1px solid $red;
          border-radius: 50%;
          opacity: .2;
          box-sizing: border-box;
          animation: cbhCircle 1.5s infinite ease-in-out ;
          @media(max-width: 412px){
            width: 32px;
            height: 32px;
          }

        }
        &:before{
          position: absolute;
          z-index: -1;
          content: '';
          left: 0;
          top: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $red;
          opacity: .3;
          animation: cbhCircle-inner 1.5s infinite ease-in-out ;
          @media(max-width: 412px){
            width: 32px;
            height: 32px;
          }
        }
      }
      &:hover {
        filter: grayscale(.1);
        .hard-hint{
         visibility: visible;
          opacity: 1;
        }
      }

      .hard-hint{
       visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 100%;
        margin-left: 12px;
        margin-bottom: 24px;
        background-color: $white;
        width: 260px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        transition: opacity .6s ease;
        line-height: 1.6rem;
        &:after{
          position: absolute;
          content: '';
          top: 16px;
          left: -16px;
          width: 16px;
          height: 8px;
          box-sizing: border-box;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 8px solid transparent;
          border-right:8px solid $white ;
        }
        &.top{
          top: auto;
          bottom: 0;
          margin-bottom: 0;
          &:after{
            top: auto;
            bottom: 16px;
          }
        }
        @media (max-width: 1344px){
          right: 0;
          left: auto;
          top: 100%;
          margin-bottom: 0;
          margin-top: 24px;

          &:after{
            top: -16px;
            width:8px;
            height:16px;
            left: auto;
            right: 16px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid $white;
            border-left: 4px solid transparent;
            border-right:4px solid transparent;
          }
          &.top{
            right: 100%;
            margin-right: 16px;
            &:after{
              top: auto;
              bottom: 16px;
              left: auto;
              right: -16px;
              width:16px;
              height:8px;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 8px solid $white;
              border-right:8px solid transparent;
            }
          }
        }
        &--header{
          display: block;
          margin-bottom: 8px;
          font-size: 1.4rem;
          font-weight: $font-bold;
          line-height: 1.6rem;
        }
        &--text{
          font:{
            size: 1.4rem;
            weight: $font-regular;
          }
          line-height: 1.6rem;
        }

      }
    }
  }
  &.satisfactorily{
    .card-header--factors_icon{
      position: absolute;
      display: block;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='40px' height='40px' viewBox='0 0 40 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3E228AA890-4BB7-4B13-B5C6-7B04F61B2E72%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='CARDS/DESKTOP/GUIDES-HINT' transform='translate(-384.000000, -291.000000)'%3E%3Cg id='icon/stopfactor/XL/alert' transform='translate(384.000000, 291.000000)'%3E%3Cg id='Group'%3E%3Cg id='Group-2'%3E%3Crect id='Rectangle' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Ccircle id='Oval' fill='%23E6A345' cx='20' cy='20' r='20'%3E%3C/circle%3E%3Cpath d='M17.6,10 L22.4,10 L21.5625,23.893918 L18.46875,23.893918 L17.6,10 Z M20.0325,31.6 C19.2741629,31.6 18.6458358,31.3483896 18.1475,30.8451613 C17.6491642,30.341933 17.4,29.721294 17.4,28.9832258 C17.4,28.2451576 17.6491642,27.63011 18.1475,27.1380645 C18.6458358,26.646019 19.2741629,26.4 20.0325,26.4 C20.7691703,26.4 21.3812476,26.646019 21.86875,27.1380645 C22.3562524,27.63011 22.6,28.2451576 22.6,28.9832258 C22.6,29.721294 22.3562524,30.341933 21.86875,30.8451613 C21.3812476,31.3483896 20.7691703,31.6 20.0325,31.6 Z' id='!' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      background-position: center;
      background-repeat: no-repeat;
      top: -8px;
      right: 8px;
      background-color: $white;
      z-index: 2;
      @media(max-width: 412px){
        width: 32px;
        height: 32px;
        right: 24px;
        top: 0;
      }
      &.active{
        &:after{
          position: absolute;
          content: '';
          z-index: -1;
          left: 0;
          top: 0;
          transform:scale(1.6);
          width: 40px;
          height: 40px;
          border: 1px solid $gold;
          border-radius: 50%;
          opacity: .2;
          box-sizing: border-box;
          animation: cbhCircle 1.5s infinite ease-in-out ;
          @media(max-width: 412px){
            width: 32px;
            height: 32px;
          }

        }
        &:before{
          position: absolute;
          z-index: -1;
          content: '';
          left: 0;
          top: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $gold;
          opacity: .3;
          animation: cbhCircle-inner 1.5s infinite ease-in-out ;
          @media(max-width: 412px){
            width: 32px;
            height: 32px;
          }
        }
      }
      &:hover {
        filter: grayscale(.1);
        .hard-hint{
          visibility: visible;
          opacity: 1;
        }
      }

      .hard-hint{
       visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 100%;
        margin-left: 12px;
        margin-bottom: 24px;
        background-color: $white;
        width: 260px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        transition: opacity .6s ease;
        line-height: 1.6rem;
        &:after{
          position: absolute;
          content: '';
          top: 16px;
          left: -16px;
          width: 16px;
          height: 8px;
          box-sizing: border-box;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 8px solid transparent;
          border-right:8px solid $white ;
        }
        &.top{
          top: auto;
          bottom: 0;
          margin-bottom: 0;
          &:after{
            top: auto;
            bottom: 16px;
          }
        }
        @media (max-width: 1344px){
          right: 0;
          left: auto;
          top: 100%;
          margin-bottom: 0;
          margin-top: 24px;

          &:after{
            top: -16px;
            width:8px;
            height:16px;
            left: auto;
            right: 16px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid $white;
            border-left: 4px solid transparent;
            border-right:4px solid transparent;
          }
          &.top{
            right: 100%;
            margin-right: 16px;
            &:after{
              top: auto;
              bottom: 16px;
              left: auto;
              right: -16px;
              width:16px;
              height:8px;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 8px solid $white;
              border-right:8px solid transparent;
            }
          }
        }
        &--header{
          display: block;
          margin-bottom: 8px;
          font-size: 1.4rem;
          font-weight: $font-bold;
          line-height: 1.6rem;
        }
        &--text{
          font:{
            size: 1.4rem;
            weight: $font-regular;
          }
          line-height: 1.6rem;
        }

      }
    }
  }
  &.main-card-eliminated_fns{
    .main-card-header--registration {
      &.warning{
        color: $red;
      }
    }
    .main-card-info:not(.full){
      .title{
        color: $red;
      }
    }

  }
  &.main-card-eliminated{
    .main-card-header--status {
      display: none;
    }
    .main-card-header--registration{
      color: $mid-gray--text;
      position: relative;
      .icon-red-question{
        circle{
          stroke: $light-gray;
        }
        path{
          fill:$mid-gray--text
        }
        &:hover{
          circle{
            fill: $mid-gray--text;
            stroke: $mid-gray;
          }
          path{
            fill:$white;
          }
        }
      }


    }
    .card-header{
      color: $mid-gray--text;
    }
  }
  &.main-card-eliminated_nalog{
    .main-card-header--registration {
      color: $red;
    }
  }
  &.double{
    .card-footer{
      .btn{
        width: 304px;
        @media (max-width: 1343px){
          width: 224px;
        }
        @media (max-height: 671px) and (max-width: 1264px){
          width: 224px;
        }
      }
    }
  }

  .lazyload{
    width: 100%;
    height: 288px;
    flex: 1 0 auto;
    margin-bottom: 160px;
    background-image: url(../images/lazyload-card-small.svg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top left;
    animation: lazyload 2s ease-in-out infinite;
    @media (min-width: 1264px) and (min-height:671px){
      background-image: url(../images/lazyload-card-big.svg);
      margin-bottom: 152px;
    }
    @media (min-width: 1344px){
      background-image: url(../images/lazyload-card-big.svg);
      height: 296px ;
      margin-bottom: 152px;
    }

  }
  .lazyload-main{
    width: 100%;
    height:  816px;
    margin-bottom: 96px;
    flex: 1 0 auto;
    background-image: url(../images/lazyload-card-small-main.svg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top left;
    animation: lazyload 2s ease-in-out infinite;
    @media (min-width: 1264px) and (min-height:671px){
      background-image: url(../images/lazyload-card-big-main.svg);
    }
    @media (min-width: 1344px){
      background-image: url(../images/lazyload-card-big-main.svg);
    }

  }
  .card-header--factors_icon{
    display: none;
  }


  &.child{
    .card-header{
      h2{
        width: 100%;
        max-width: none;
      }
    }
    @media(max-width:412px){
      .card-footer{
        padding-right: 24px;
      }
    }
  }
  &#report{
    @media(max-width:412px){
      .card-footer{
        padding-right: 24px;
      }
    }
  }
  &-header{
    position: relative;
    margin-bottom: 16px;
    font:{
      weight: $font-bold;
      size: 2.2rem;
    }
    line-height: 3.2rem;
    color: $black--text;
    @media (min-width: 1264px) and (min-height:671px){
      font-size: 2.8rem;
      line-height: 4rem;
    }
    @media (min-width: 1344px){
      font-size: 2.8rem;
      line-height: 4rem;
    }
    @media (max-width: 412px){
    margin-bottom: 20px;
    }

    h1,h2{
      max-width: 469px;
      width: 59.2%;
      @media (max-width: 412px){
        max-width: none;
        width: 100%;
        font-size: rem(28px);
        line-height: 1.14;
      }
    }
    h1[data-hint]{
      &:before{
        position: absolute;
        z-index: 999;
        pointer-events: none;
        content: attr(data-hint);
        display: block;
        padding: 12px;
        opacity: 0;
        max-width: 100%;
        bottom: 100%;
        margin-bottom: 8px;
        border-radius: 4px;
        background-color: rgb(153, 153, 153);
        transition: .2s ease opacity;
        transition-delay:.4s ;
        text-transform: uppercase;
        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: 0.5px;
        color: rgb(255, 255, 255);

      }
      &:after{
        position: absolute;
        z-index: 99;
        content: '';
        width: 8px;
        height: 16px;
        left: 12px;
        bottom: 100%;
        margin-bottom: -8px;
        border: 8px solid transparent;
        border-top-color:rgb(153, 153, 153);
        box-sizing: border-box;
        opacity: 0;
        transition: .2s ease opacity;
        transition-delay:.4s ;
      }
      &:hover{
        &:before,
        &:after{
          opacity: 1;
          transition-delay:0;
        }

      }
    }

    &--factors{
      width: 280px;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      text-align: right;
      font:{
        weight: $font-bold;
        size: 2.8rem;
      }
      line-height: 4rem;

      color:$red;
      transition: .2s all ease;
      &:hover{
        text-decoration: none;
        opacity: 0.7;
        color:$red;
      }
      @media (max-width: 412px){
        display: none;
      }
    }
  }
  &-footer{
    width: 100%;
    position: relative;
    height: 48px;
    @media(max-width: 412px){
      height: auto;
      padding-right: 24px;
    }
    &-btn{
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width: 412px){
        margin-bottom: 20px;
      }

      .btn{
        width: 100%;
        max-width: 384px;
        text-transform: none;
        letter-spacing: normal;
        @media(max-width: 412px){
          max-width: none;
        }
        span{
          color: $mid-gray--text;
        }

      }
    }

    &-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 112px;
      padding: 8px;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      @media(max-width: 412px){
        position: static;
        transform: translateY(0);
        padding: 0;
      }

      a{
        display: block;
        opacity: .4;
        transition: opacity .2s ease;
        width: 32px;
        height: 32px;
        &[data-hint]{
          position: relative;
          &:before{
            position: absolute;
            z-index: 99;
            pointer-events: none;
            content: attr(data-hint);
            display: block;
            padding: 4px 8px;
            opacity: 0;
            max-width: 464px;
            top: 100%;
            left: 50%;
            margin-top: 4px;
            border-radius: 4px;
            background-color: rgb(153, 153, 153);
            transition: .2s ease opacity;
            text-transform: none;
            font:{
              family: $font-family;
              size: 1.3rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            letter-spacing: 0.5px;
            transform: translateX(-50%);
            color: rgb(255, 255, 255);

          }
        }
        &:hover{
          text-decoration: none;
          opacity: 1;
          &:before{
            opacity: 1;
          }
        }
      }
      &--download{
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E15C97301-E412-4403-BC48-8DB05A83377C%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/card/download/L/normal'%3E%3Cg id='Group'%3E%3Cg id='Group-25'%3E%3Crect id='Rectangle' opacity='0.200000003' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23000000' x='9' y='21' width='14' height='2'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23000000' x='15' y='9' width='2' height='9'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3Cpolygon id='Rectangle' fill='%23000000' points='12.5 15 19.5 15 16 19.75'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        &.reloaded{
          background-image: none;
          position: relative;
          opacity: 1;
          &:after{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            margin-top: 8px;
            margin-left: 8px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid $mid-gray;
            border-bottom-color: transparent;
            animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
          }
        }
      }
      &--share{
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E5BF25B24-7353-42A0-B10A-53AF445FCF4D%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/card/share/L/normal'%3E%3Cg id='Group'%3E%3Cg id='Group-25'%3E%3Crect id='Rectangle' opacity='0.200000003' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Cpolygon id='Rectangle' fill='%23000000' points='18 21 18 9 25 15'%3E%3C/polygon%3E%3C/g%3E%3Cpath d='M18,12.5 C18,14.5 18,15.5 18,17.5 C14.8550239,17.5 11,19 8,22 C8,17 14.5,12.5 18,12.5 Z' id='Rectangle' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        &.reloaded{
          background-image: none;
          position: relative;
          opacity: 1;
          &:after{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            margin-top: 8px;
            margin-left: 8px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid $mid-gray;
            border-bottom-color: transparent;
            animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
          }
        }
      }
      &--print{
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E0D02FAD1-B3A8-4742-9039-03343BA204EC%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/card/print/L/normal'%3E%3Cg id='Group'%3E%3Cg id='Group-25'%3E%3Crect id='Rectangle' opacity='0.200000003' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Crect id='Rectangle' stroke='%23000000' x='11.5' y='15.5' width='9' height='7'%3E%3C/rect%3E%3Cpath d='M10,12 L12,12 L12,18 L8,18 L8,14 C8,12.8954305 8.8954305,12 10,12 Z' id='Rectangle' fill='%23000000'%3E%3C/path%3E%3Cpath d='M20,12 L22,12 C23.1045695,12 24,12.8954305 24,14 L24,18 L20,18 L20,12 Z' id='Rectangle' fill='%23000000'%3E%3C/path%3E%3Crect id='Rectangle' fill='%23000000' x='11' y='12' width='10' height='4'%3E%3C/rect%3E%3Crect id='Rectangle' stroke='%23000000' x='11.5' y='9.5' width='9' height='3'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        &.reloaded{
          background-image: none;
          position: relative;
          opacity: 1;
          &:after{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            margin-top: 8px;
            margin-left: 8px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid $mid-gray;
            border-bottom-color: transparent;
            animation: lds-ring 1.2s cubic-bezier(1, 1, 1, 1) infinite;
          }
        }
      }
    }
  }
  &-content{
    margin-bottom: 32px;
    position: relative;


    &-tabs{
      position: absolute;
      left: 0;
      bottom: -64px;
      display: flex;
      align-items: center;
      z-index: 99;
      width: 180px;
      @media(max-width: 412px){
        display: none;
      }
      &--link{
        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        color:$mid-gray--text;
        transition: .2s color ease;
        cursor: pointer;
        width: 50%;
        &:last-child{
          padding-left: 48px;
          &.active{
            padding-left: 0;
          }
        }
        &:first-child{
          width: 104px;
          flex-shrink: 0;
          &.active{
            width: 56px;
          }
        }

        &.active{
          color: $black--text;
        }
      }
      &--switch{
        position: absolute;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 24px;
        height: 8px;
        border-radius: 50em;
        padding: 3px 0;
        cursor: pointer;
        pointer-events: none;
        left: 64px;

        input,
        label{
          position: absolute;
          cursor: pointer;
          left: 0;
          top: 0;
        }

        input{
          margin: 0;
          padding: 0;
          opacity: 0;
          height: 0;
          width: 0;
          pointer-events: none;
          &:checked + label + .card-content-tabs--switch_marker {
            left: calc(100% - 12px);
          }

          &:focus + label,
          &:active + label {

          }
        }

        label{
          width: 24px;
          height: 8px;
          border-radius: 8px;
          background-color: rgba(0, 0, 0, 0.15);
          user-select: none;
          z-index: 1;
          transition: background .2s ease;
          color: transparent;
        }
        &_marker{
          position: absolute;
          top: -4px;
          left: -4px;
          width: 16px;
          height: 16px;
          border: solid 1px $black--text;
          background-color:  $black--text;
          border-radius: 50%;
          z-index: 2;
          pointer-events: none;
          transition: left .2s ease;
          will-change: left;
        }
      }
    }

    .diagram{
      width: 100%;
      height: 360px;
      margin-bottom: 32px;
      padding: 0 32px;
      @media(max-width: 412px){
        display: none;
      }
    }
    //стили для клавной карточки
    @import "card/main";
    //стили ддя карточки отчета
    @import "card/reporting";
    //стили для карточки проверка
    @import "card/checkup";
    //стили для карточки бизнеса
    @import "card/business";
    //стили для карточки арбитража
    @import "card/аrbitrage";
    //стили для карточки экономики
    @import "card/economy";
    //стили для карточки фссп
    @import "card/fssp";
    //стили для карточки собственники
    @import "card/owner";
    //стили взаимосвязи
    @import "card/child";
    //ситили для карточки тендера
    @import "card/tender";
    //стили для карточки егрюл
    @import "card/egrul";
  }
}
