.company{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-top: 88px;
  margin-bottom: 64px;
  @import "../sections/sidebar";
  @import "../sections/company-content";
  @import "../sections/company-btn";
  @import "../sections/company-modal";
  @media(max-width:412px){
    padding-top: 61px;
  }

  .wrapper{
    &.cover{
      &:before{
        position: fixed;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 998;
      }
    }
  }
}