.company{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-top: 88px;
  margin-bottom: 64px;
  @import "../sections/sidebar";
  @import "../sections/company-content";
  @import "../sections/company-btn";
  @import "../sections/company-modal";
}