.search{
  max-width: 944px;
  margin: auto;
  width: 100%;
  padding-top: 72px;

  &.lazyload{
    .search-info{
      visibility: hidden;
    }


    .search-list--item{
      height: 112px;
      background-image: url(../images/lazyload-search.svg);
      &:hover{
        background-color: $white;
      }
    }
  }

  &-info{

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &--count{
      font:{
        size: 1.4rem;
        weight: $font-bold;
      }
      line-height: 1.6rem;
      letter-spacing: normal;
      color:$black--text;
    }

    &--switch{
      display: flex;
      align-items: center;
      margin-right: 155px;
      &_inner{
        position: relative;
        display: block;
        width: 24px;

        height: 8px;
        .switch{

          &_input,
          &_label{
            position: absolute;
            cursor: pointer;
            left: 0;
            top: 0;
          }

          &_input{
            margin: 0;
            padding: 0;
            opacity: 0;
            height: 0;
            width: 0;
            pointer-events: none;
            &:checked + .switch_label + .switch_marker {
              left: calc(100% - 12px);
              background: $black;
              border-color: $black;
            }
            &:checked + .switch_label:after{
              color: $black--text;
            }

            &:focus + .switch_label,
            &:active + .switch_label {

            }
          }

          &_label{
            width: 24px;
            height: 8px;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.15);
            user-select: none;
            z-index: 1;
            transition: background .2s ease;
            color: transparent;
            &:after{
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              content: attr(data-name);
              font:{
                size: 1.4rem;
                weight: $font-regular;
              }
              line-height: 1.6rem;
              letter-spacing: normal;
              color: $white--text;
              cursor: pointer;
              background: none;
              border: none;
              white-space: nowrap;
              left: 140%;
              transition: color .2s ease;
            }
          }
          &_marker{
            position: absolute;
            top: -4px;
            left: -4px;
            width: 16px;
            height: 16px;
            border: solid 1px $white;
            background-color:  $white;
            border-radius: 50%;
            z-index: 2;
            pointer-events: none;
            transition: left .2s ease;
            will-change: left;
          }
        }
      }
    }
  }

  &-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 64px;

    &--item{
      padding: 24px 24px 24px 32px;
      background-color: $white;
      transition: background-color .2s ease;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.05);
        .item-icon{
          opacity: 1;
        }
      }

      .item-info{
        width: 45%;
        margin-right: 2.72%;

        &--name{
          width: 100%;
          margin-bottom: 8px;
          [data-hint]{
            position: relative;
            &:before{
              position: absolute;
              z-index: 99;
              pointer-events: none;
              content: attr(data-hint);
              display: block;
              padding: 12px;
              opacity: 0;
              max-width: 464px;
              bottom: 100%;
              margin-bottom: 8px;
              border-radius: 4px;
              background-color: rgb(153, 153, 153);
              transition: .2s ease opacity;
              text-transform: uppercase;
              font:{
                size: 1.4rem;
                weight: $font-regular;
              }
              line-height: 1.6rem;
              letter-spacing: 0.5px;
              color: rgb(255, 255, 255);

            }
            &:after{
              position: absolute;
              z-index: 99;
              content: '';
              width: 8px;
              height: 16px;
              left: 12px;
              bottom: 100%;
              margin-bottom: -8px;
              border: 8px solid transparent;
              border-top-color:rgb(153, 153, 153);
              box-sizing: border-box;
              opacity: 0;
              transition: .2s ease opacity;
            }
            &:hover{
              &:before,
              &:after{
                opacity: 1;
              }

            }
          }
          a{
            font:{
              size: 1.4rem;
              weight: $font-bold;
            }
            line-height: 1.6rem;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: $black--text;
            text-decoration: none;
            span{
              background-color: rgba(58, 166, 94, 0.2);
            }
          }
        }

        &--company{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          &.no-ceo{

            p{
              width: 100%;
            }
          }
          p{
            margin-right:16px;
            font:{
              size: 1.4rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            text-transform: uppercase;
            color: $black--text;
            margin-bottom: 8px;
            &.one-element{
              text-transform: none;
            }
            span{
              color: $mid-gray--text;
            }
            &:nth-child(2){
              margin-right: 0;
            }
            &:last-child{
              margin-bottom: 0;
            }

          }
        }
      }

      .item-status{
        width: 13.18%;
        margin-right: 2.72%;

        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: normal;
        text-align: left;
        &.perfectly{
          color: $green;
        }
        &.eliminated{
          color: $mid-gray--text;
        }
      }

      .item-address{
        width: 26.36%;
        margin-right: 2.72%;

        font:{
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: normal;
        color: $black--text;

        &[data-hint]{
          position: relative;
          cursor: default;
          &:before{
            position: absolute;
            z-index: 99;
            pointer-events: none;
            content: attr(data-hint);
            display: block;
            padding: 12px;
            opacity: 0;
            max-width: 464px;
            bottom: 100%;
            left: -80px;
            right: -88px;
            width: max-content;
            width: -moz-max-content;
            margin-bottom: 8px;
            border-radius: 4px;
            background-color: rgb(153, 153, 153);
            transition: .2s ease opacity;
            text-transform: uppercase;
            font:{
              size: 1.4rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            letter-spacing: 0.5px;
            color: rgb(255, 255, 255);

          }
          &:after{
            position: absolute;
            z-index: 99;
            content: '';
            width: 8px;
            height: 16px;
            left: 12px;
            bottom: 100%;
            margin-bottom: -8px;
            border: 8px solid transparent;
            border-top-color:rgb(153, 153, 153);
            box-sizing: border-box;
            opacity: 0;
            transition: .2s ease opacity;
          }
          &:hover{
            &:before,
            &:after{
              opacity: 1;
            }

          }
        }
      }

      .item-icon{
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 8.16%;
        opacity: 0;
        transition: .2s opacity ease;
        &--img{
          position: relative;
          display: block;
          width: 24px;
          height: 24px;
          border: none;
          background-color: transparent;
          overflow: hidden;
          text-indent: -9999px;
          &:after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
          }
          &.favorites{
            &:after{
              background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E607EEE43-B293-4D31-80F3-0106FCC96039%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/monitoring/M/normal'%3E%3Cg id='Group-2'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpolygon id='Star' fill='%23999999' points='12 15.9 6.12214748 20.1901699 8.38598524 13.2742646 2.48943484 9.00983006 9.76641604 9.02573542 12 2.1 14.233584 9.02573542 21.5105652 9.00983006 15.6140148 13.2742646 17.8778525 20.1901699'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }

          }
          &.options{
            &:after{
              display: block;
              background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E0349ADB5-EC14-440F-9A32-9D1521D8F892%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon/compare/M/normal'%3E%3Cg id='Group'%3E%3Cg id='Group-11'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-5' fill='%23999999' x='11' y='2' width='2' height='19'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-6' fill='%23999999' x='14' y='5' width='7' height='3'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-7' fill='%23999999' x='6' y='5' width='4' height='3'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-14' fill='%23999999' x='14' y='10' width='4' height='3'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-15' fill='%23999999' x='3' y='10' width='7' height='3'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-16' fill='%23999999' x='7' y='15' width='3' height='3'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-17' fill='%23999999' x='14' y='15' width='5' height='3'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }

        }

      }
    }

  }

  &-pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

    &--btn{
      margin-bottom: 24px;
      width: 100%;
      max-width: 472px;

      .btn{

      }
    }

    &--list{
      max-width: 464px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;


      li{
        &:first-child{
          margin-right: 32px;
        }
        &:last-child{
          margin-left: 32px;
        }

        a{
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: .2s ease all;
          box-sizing: border-box;
          &:not(.next),
          &:not(.prev){
            font:{
              size: 1.4rem;
              weight: $font-bold;
            }
            line-height: 48px;
            letter-spacing: normal;
            color:$mid-gray--text;
            border: solid 1px transparent;
            &:hover{
              border-color: rgba(0, 0, 0, 0.15);
              text-decoration: none;
            }
          }
          &.active{
            background-color: $mid-gray;
            border-color: $mid-gray;
            color: $white;
          }
          &.prev,
          &.next{
            position: relative;
            border:1px solid rgba(0, 0, 0, 0.15);
            &:hover{
              border-color:rgba(0, 0, 0, 0.4);
            }
            &:before{
              content: '';
              position: absolute;
              display: block;
              width: 10px;
              height: 10px;
              top: 50%;
              left: 50%;
              border:{
                left: 2px solid $mid-gray--text;
                top:  2px solid $mid-gray--text;
              }
            }
          }
          &.next{
            &:before{
              margin-top: -5px;
              margin-left: -7px;
              transform: rotate(135deg);
            }

          }
          &.prev{
            &:before{
              margin-top: -5px;
              margin-left: -5px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}