.search {
  max-width: 944px;
  margin: auto;
  width: 100%;
  padding-top: 72px;
  @media(max-width: 412px) {
    background: $white;
    padding-top: 60px;
  }

  &.lazyload {
    .search-info {
      visibility: hidden;
    }

    .search-list {
      background-color: $white;
    }

    .search-list--item {
      height: 112px;
      background-image: url(../images/lazyload-search.svg);
      transition: .2s ease-in-out;
      animation: lazyload 2s ease-in-out infinite;

      &:hover {
        background-color: $white;
      }
    }
  }

  &-info {

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 412px) {
      display: none;
    }


    &--count {
      font: {
        size: 1.4rem;
        weight: $font-bold;
      }
      line-height: 1.6rem;
      letter-spacing: normal;
      color: $black--text;
    }

    &--switch {
      display: flex;
      align-items: center;
      margin-right: 155px;

      &_inner {
        position: relative;
        display: block;
        width: 24px;

        height: 8px;

        .switch {

          &_input,
          &_label {
            position: absolute;
            cursor: pointer;
            left: 0;
            top: 0;
          }

          &_input {
            margin: 0;
            padding: 0;
            opacity: 0;
            height: 0;
            width: 0;
            pointer-events: none;

            &:checked + .switch_label + .switch_marker {
              left: calc(100% - 12px);
              background: $black;
              border-color: $black;
            }

            &:checked + .switch_label:after {
              color: $black--text;
            }

            &:focus + .switch_label,
            &:active + .switch_label {

            }
          }

          &_label {
            width: 24px;
            height: 8px;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.15);
            user-select: none;
            z-index: 1;
            transition: background .2s ease;
            color: transparent;

            &:after {
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              content: attr(data-name);
              font: {
                size: 1.4rem;
                weight: $font-regular;
              }
              line-height: 1.6rem;
              letter-spacing: normal;
              color: $white--text;
              cursor: pointer;
              background: none;
              border: none;
              white-space: nowrap;
              left: 140%;
              transition: color .2s ease;
            }
          }

          &_marker {
            position: absolute;
            top: -4px;
            left: -4px;
            width: 16px;
            height: 16px;
            border: solid 1px $white;
            background-color: $white;
            border-radius: 50%;
            z-index: 2;
            pointer-events: none;
            transition: left .2s ease;
            will-change: left;
          }
        }
      }
    }
  }

  &-info-mobile {
    padding: 8px 24px;
    display: flex;
    justify-content: flex-start;
    @media(min-width: 413px) {
      display: none;
    }

    &__btn {
      font-size: 14px;
      line-height: 16px;
      color: $black--text;
      padding: 8px 12px;
      background: $light-gray--text;
      border: none;
      margin-right: 8px;
      transition: .2s;
      border-radius: 4px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: rgba(0, 0, 0, .2);
      }

      .count {
        color: $mid-gray--text;
        margin-left: 8px;
      }
    }

  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 64px;
    background-color: $white;
    @media(max-width: 412px) {
      margin-bottom: 0;
    }

    &--item {
      padding: 24px 24px 24px 32px;
      background-color: $white;
      transition: background-color .2s ease;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      @media(max-width: 412px) {
        display: block;
        padding: 20px 56px 20px 24px;
        position: relative;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .item-icon--img {
          opacity: 1;
        }
      }

      .item-info {
        width: 45%;
        margin-right: 2.72%;
        @media(max-width: 412px) {
          width: 100%;
          margin-right: 0;
        }

        &--name {
          width: 100%;
          margin-bottom: 8px;
          @media(max-width: 412px) {
            margin-bottom: 12px;
          }

          [data-hint] {
            position: relative;

            &:before {
              position: absolute;
              z-index: 99;
              pointer-events: none;
              content: attr(data-hint);
              display: block;
              padding: 12px;
              opacity: 0;
              max-width: 464px;
              bottom: 100%;
              margin-bottom: 8px;
              border-radius: 4px;
              background-color: rgb(153, 153, 153);
              transition: .2s ease opacity;
              transition-delay: .4s;
              text-transform: uppercase;
              font: {
                size: 1.4rem;
                weight: $font-regular;
              }
              line-height: 1.6rem;
              letter-spacing: 0.5px;
              color: rgb(255, 255, 255);
            }

            &:after {
              position: absolute;
              z-index: 99;
              content: '';
              width: 8px;
              height: 16px;
              left: 12px;
              bottom: 100%;
              margin-bottom: -8px;
              border: 8px solid transparent;
              border-top-color: rgb(153, 153, 153);
              box-sizing: border-box;
              opacity: 0;
              transition: .2s ease opacity;
              transition-delay: .4s;
            }

            &:hover {
              &:before,
              &:after {
                opacity: 1;
              }

            }
          }

          a {
            font: {
              size: 1.4rem;
              weight: $font-bold;
            }
            line-height: 1.6rem;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: $black--text;
            text-decoration: none;
            @media(max-width: 412px) {
              font-size: 1.6rem;
              line-height: 2rem;
            }

            span {
              background-color: rgba(58, 166, 94, 0.2);
            }
          }
        }

        &--company {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          &.no-ceo {

            p {
              width: 100%;
            }
          }

          p {
            margin-right: 16px;
            font: {
              size: 1.4rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            text-transform: uppercase;
            color: $black--text;
            margin-bottom: 8px;
            @media(max-width: 412px) {
              width: 100%;
            }

            &:first-child {
              @media(max-width: 412px) {
                display: none;
              }
            }

            &.one-element {
              text-transform: none;

              span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
                @media(max-width: 412px) {
                  margin-right: 32px;
                }
              }
            }

            span {
              color: $mid-gray--text;
            }

            &:nth-child(2) {
              margin-right: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }

          }
        }
      }

      .item-status {
        width: 13.18%;
        margin-right: 2.72%;

        font: {
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: normal;
        text-align: left;

        @media(max-width: 412px) {
          width: 100%;
          margin-right: 0;
        }

        &.perfectly {
          color: $green;
          @media(max-width: 412px) {
            display: none;
          }
        }

        &.eliminated {
          color: $mid-gray--text;
          @media(max-width: 412px) {
            display: none;
          }
        }
      }

      .item-address {
        width: 26.36%;
        margin-right: 2.72%;

        font: {
          size: 1.4rem;
          weight: $font-regular;
        }
        line-height: 1.6rem;
        letter-spacing: normal;
        color: $black--text;

        @media(max-width: 412px) {
          width: 100%;
          margin-right: 0;
          position: relative;
          padding-left: 48px;
          margin-top: 8px;
          .item-address--icon {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/icon-address.svg);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin-right: 32px;
          }
        }

        &[data-hint] {
          position: relative;
          cursor: default;

          &:before {
            position: absolute;
            z-index: 99;
            pointer-events: none;
            content: attr(data-hint);
            display: block;
            padding: 12px;
            opacity: 0;
            max-width: 464px;
            bottom: 100%;
            left: -80px;
            right: -88px;
            width: max-content;
            width: -moz-max-content;
            margin-bottom: 8px;
            border-radius: 4px;
            background-color: rgb(153, 153, 153);
            transition: .2s ease opacity;
            text-transform: uppercase;
            font: {
              size: 1.4rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            letter-spacing: 0.5px;
            color: rgb(255, 255, 255);
            @media(max-width: 412px) {
              left: 0;
              right: 0;
              max-width: 168px;
            }
          }


          &:after {
            position: absolute;
            z-index: 99;
            content: '';
            width: 8px;
            height: 16px;
            left: 12px;
            bottom: 100%;
            margin-bottom: -8px;
            border: 8px solid transparent;
            border-top-color: rgb(153, 153, 153);
            box-sizing: border-box;
            opacity: 0;
            transition: .2s ease opacity;
          }

          &:hover {
            &:before,
            &:after {
              opacity: 1;
            }

          }
        }
      }

      .item-icon {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 8.16%;
        @media(max-width: 412px) {
          display: none;
        }

        &--img {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border: none;
          background-color: transparent;
          border-radius: 50%;
          transition: .2s ease all;
          opacity: 0;

          svg {
            display: block;
            width: 24px;
            height: 24px;
            opacity: .4;
            transition: .2s ease all;
          }

          &:last-child {
            margin-right: 0;
          }

          &:before {
            position: absolute;
            z-index: 9991;
            pointer-events: none;
            content: attr(data-hint);
            display: block;
            padding: 4px 8px;
            opacity: 0;
            max-width: 464px;
            top: 100%;
            left: 50%;
            margin-top: 8px;
            border-radius: 4px;
            background-color: rgb(153, 153, 153);
            transition: .2s ease opacity;
            text-transform: none;
            font: {
              size: 1.3rem;
              weight: $font-regular;
            }
            line-height: 1.6rem;
            letter-spacing: 0.5px;
            transform: translateX(-50%);
            color: rgb(255, 255, 255);
            white-space: nowrap;

          }

          &:hover {
            background-color: $white;

            svg {
              opacity: 1;
            }

            &:before {
              opacity: 1;
            }
          }

          &.add {
            opacity: 1;

            svg {
              opacity: 1;

              polygon, #Group-11 {
                fill: $green;
              }
            }
          }
        }

      }

      .item-forward {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        background-image: url(../images/icon/icon-scroll-top.svg);
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @media (min-width: 413px) {
          display: none;
        }
      }

    }

  }

  &-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    @media(max-width: 412px) {
      padding: 24px;
      margin-bottom: 0;
    }

    &--btn {
      margin-bottom: 24px;
      width: 100%;
      max-width: 472px;
      @media(max-width: 412px) {
        max-width: 312px;
      }

      .btn {

      }
    }

    &--list {
      max-width: 464px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 412px) {
        justify-content: center;
      }


      li {

        @media(max-width: 412px) {
          margin: 0;
        }

        &:first-child {
          margin-right: 32px;
          @media(max-width: 412px) {
            margin: 0;
          }
        }

        &:last-child {
          margin-left: 32px;
          @media(max-width: 412px) {
            margin: 0;
          }
        }

        &.mobile {
          @media(min-width: 413px) {
            display: none;
          }
          @media(max-width: 412px) {
            margin: 0 8px;
            font-size: 14px;
            line-height: 16px;
            color: $mid-gray--text;
          }
        }

        a {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: .2s ease all;
          box-sizing: border-box;

          &:not(.next),
          &:not(.prev) {
            font: {
              size: 1.4rem;
              weight: $font-bold;
            }
            line-height: 48px;
            letter-spacing: normal;
            color: $mid-gray--text;
            border: solid 1px transparent;

            @media(max-width: 412px) {
              display: none;
            }

            &:hover {
              border-color: rgba(0, 0, 0, 0.15);
              text-decoration: none;
            }
          }

          &.active {
            background-color: $mid-gray;
            border-color: $mid-gray;
            color: $white;
          }

          &.prev,
          &.next {
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.15);
            @media(max-width: 412px) {
              display: flex;
              margin: 0;
            }

            &:hover {
              border-color: rgba(0, 0, 0, 0.4);
            }

            &:before {
              content: '';
              position: absolute;
              display: block;
              width: 10px;
              height: 10px;
              top: 50%;
              left: 50%;
              border: {
                left: 2px solid $mid-gray--text;
                top: 2px solid $mid-gray--text;
              }
            }
          }

          &.next {
            &:before {
              margin-top: -5px;
              margin-left: -7px;
              transform: rotate(135deg);
            }

          }

          &.prev {
            &:before {
              margin-top: -5px;
              margin-left: -5px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}