<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link href="css/{% if NODE_ENV == "dev" %}plugins.css{% else %}plugins.min.css{% endif %}" rel="stylesheet">
    <link href="css/{% if NODE_ENV == "dev" %}styles.css{% else %}styles.min.css{% endif %}" rel="stylesheet">


    {% include 'layouts/_favicon.html' %}

    {% include 'layouts/_og.html' %}
</head>
<body>
{% macro svg(id) %}
<svg xmlns="http://www.w3.org/2000/svg" class="{{id}}">
    <use xlink:href="#{{id}}"></use>
</svg>
{% endmacro %}

<div class="container">
    <div class="content">
        {% include 'sections/header.html' %}
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'sections/footer.html' %}
</div>


<!--модалки-->
<div class="modal modal-full mfp-hide" id="authorization">
    <div class="modal-content">
        <!--<div class="modal-content&#45;&#45;inner">&lt;!&ndash; тело для входа &ndash;&gt;-->
            <!--<h2>Вход</h2>-->
            <!--<form action="" class="sing-in">-->
                <!--<label for="sing-in-tel" class="">&lt;!&ndash;если не порошел валидацию то добавляется клаcc error 2-3 секунды&ndash;&gt;-->
                    <!--<input type="tel"  id="sing-in-tel" placeholder="Номер телеофна" autocomplete="off">-->
                <!--</label>-->
                <!--<label for="sing-in-password" class="error">&lt;!&ndash;если не порошел валидацию то добавляется клаcc error 2-3 секунды&ndash;&gt;-->
                    <!--<input type="password"   class="password " id="sing-in-password" autocomplete="off" placeholder="Пароль">-->
                    <!--<button type="button" class="show-password"></button>-->
                <!--</label>-->
                <!--<div class="g-recaptcha" data-sitekey="" data-callback="recaptchaCallback"></div> &lt;!&ndash;После трех попыток неудачного входа показываем капчу.&ndash;&gt;-->
                <!--<button class="btn btn-green" type="submit">Войти</button>-->
            <!--</form>-->
            <!--<p class="error-massage">Неверный номер или пароль</p>&lt;!&ndash;показывается если не порошел валидацию  показать на 2-3 секунды&ndash;&gt;-->
            <!--<a href="#0" class="recovery-pass normal">Забыли пароль?</a>-->
            <!--<a href="#0" class="registradion green">Зарегистрироваться</a>-->
        <!--</div>-->
        <div class="modal-content--inner registration" ><!--тело для регистрации   добавляется класс-->
            <h2>Регистрация</h2>
            <p>Введите свой номер телефона,  <br> мы отправим вам проверочный код</p> <!--Если  сообщение отправлено текст меняется на 'СМС с кодом отправлено на номер +7 (909) 668-88-58'-->
            <form action="" class="sing-in">
                <label for="sing-in-tel" class="error" data-hint="Некорректный номер" ><!--если не порошел валидацию то добавляется клаcc error 2-3 секунды. Если номер написан в правильном формате, но не найден в базе,  добавляется клаcc error 2-3 секунды, в хинте (data-hint) с ошибкой будет «Номер уже зарегистрирован».-->
                    <input type="tel"  id="sing-in-tel" class="error" autocomplete="off"placeholder="Номер телефона" >
                </label>
                <button class="btn btn-green" type="submit">Продолжить</button>
                <a href="#0" class="btn btn-default">Назад</a>
            </form>
            <p class="info">Уже зарегистрированы? <a href="#0" class="recovery-pass">Войти</a></p>
        </div>
    </div>
</div>


<!--svg-sprite-->
<div class="svgSprite" hidden>
    {% include '../../images/general/sprite.svg' %}
</div>


<script src="js/combined.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.11.1/dist/js/jquery.suggestions.min.js"></script>
<script>
    $("#query").suggestions({
        token: "93dc951d16827886219c6ec5e445288493292104",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    });


</script>
<script src="js/libs.js"></script>

{% include 'layouts/_counters.html' %}
</body>
</html>