<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link href="css/{% if NODE_ENV == "dev" %}plugins.css{% else %}plugins.min.css{% endif %}" rel="stylesheet">
    <link href="css/{% if NODE_ENV == "dev" %}styles.css{% else %}styles.min.css{% endif %}" rel="stylesheet">


    {% include 'layouts/_favicon.html' %}

    {% include 'layouts/_og.html' %}
</head>
<body class="{{ bodyClass }}">

{% macro svg(id) %}
<svg xmlns="http://www.w3.org/2000/svg" class="{{id}}">
    <use xlink:href="#{{id}}"></use>
</svg>
{% endmacro %}

<div class="container">
    <div class="content">
        {% include 'sections/header.html' %}
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'sections/footer.html' %}
</div>


<!--модалки-->
<div class="modal modal-full mfp-hide" id="authorization">
    <div class="modal-content">
        <div class="modal-content--inner"><!-- тело для входа -->
            <h2>Вход</h2>
            <form action="" class="sing-in">
                <label for="sing-in-tel" class=""><!--если не порошел валидацию то добавляется клаcc error 2-3 секунды-->
                    <input type="tel"  id="sing-in-tel" placeholder="Номер телеофна" autocomplete="off">
                </label>
                <label for="sing-in-password" class="error"><!--если не порошел валидацию то добавляется клаcc error 2-3 секунды-->
                    <input type="password"   class="password " id="sing-in-password" autocomplete="off" placeholder="Пароль">
                    <button type="button" class="show-password"></button>
                </label>
                <div class="g-recaptcha" data-sitekey="" data-callback="recaptchaCallback"></div> <!--После трех попыток неудачного входа показываем капчу.-->
                <button class="btn btn-green" type="submit">Войти</button>
            </form>
            <p class="error-massage">Неверный номер или пароль</p><!--показывается если не порошел валидацию  показать на 2-3 секунды-->
            <a href="#0" class="recovery-pass normal">Забыли пароль?</a>
            <a href="#0" class="registradion green">Зарегистрироваться</a>
        </div>


        <!--<div class="modal-content&#45;&#45;inner registration" >&lt;!&ndash;тело для регистрации   добавляется класс&ndash;&gt;-->
            <!--<h2>Регистрация</h2>-->
            <!--<p>Введите свой номер телефона,  <br> мы отправим вам проверочный код</p> &lt;!&ndash;Если  сообщение отправлено текст меняется на 'СМС с кодом отправлено на номер +7 (909) 668-88-58'&ndash;&gt;-->
            <!--<form action="" class="sing-in">-->
                <!--<label for="sing-in-tel" class="error" data-hint="Некорректный номер" >&lt;!&ndash;если не порошел валидацию то добавляется клаcc error 2-3 секунды. Если номер написан в правильном формате, но не найден в базе,  добавляется клаcc error 2-3 секунды, в хинте (data-hint) с ошибкой будет «Номер уже зарегистрирован».&ndash;&gt;-->
                    <!--<input type="tel"  id="sing-in-tel" autocomplete="off" placeholder="Номер телефона" >-->
                <!--</label>-->
                <!--<label for="sing-in-code"  >&lt;!&ndash;показывается когда телефон прошел валидацию и телефон отправился&ndash;&gt;-->
                    <!--<input type="text"  id="sing-in-code" autocomplete="off" placeholder="Код из СМС" >-->
                <!--</label>-->
                <!--<label for="sing-in-password" class="error" data-hint="Пароль слишком короткий">&lt;!&ndash;если не порошел валидацию то добавляется клаcc error 2-3 секунды, валидация это минимум 6 символов&ndash;&gt;-->
                    <!--<input type="password"   class="password " id="sing-in-password" autocomplete="off" minlength="6" placeholder="Пароль">-->
                    <!--<button type="button" class="show-password"></button>-->
                <!--</label>-->
                <!--<button class="btn btn-green" type="submit">Продолжить</button> &lt;!&ndash;Когда доходит до шага придумать пароль то заменить текст на "Зарегистрироваться"&ndash;&gt;-->
                <!--<a href="#0" class="btn btn-default">Назад</a>-->
            <!--</form>-->
            <!--<p class="info">Уже зарегистрированы? <a href="#0" class="recovery-pass">Войти</a></p>-->
            <!--<p class="info">Повторная отправка СМС через <span class="timeout">30</span> сек.</p>&lt;!&ndash;Скрипт написал, лежит в libs.js 149 строка если что&ndash;&gt;-->
            <!--<a href="#0" class="green return-code" style="display: none;">Отправить код повторно</a>-->
        <!--</div>-->


        <!--<div class="modal-content&#45;&#45;inner registration" >&lt;!&ndash;тело для востановления пароля, так как оно такое как и регистрация, то я не вижу смысла менять класс на какой-то другой, тк будет одинакой css код как и для класса registration фунгционал тот же самый&ndash;&gt;-->
            <!--<h2>Восстановление пароля</h2>-->
            <!--<p>Введите номер телефона,<br> которые вы указали при регистрации</p> &lt;!&ndash;Если  сообщение отправлено текст меняется на 'СМС с кодом отправлено на номер +7 (909) 668-88-58'&ndash;&gt;-->
            <!--<form action="" class="sing-in">-->
                <!--<label for="sing-in-tel" class="error" data-hint="Некорректный номер" >-->
                    <!--<input type="tel"  id="sing-in-tel" autocomplete="off" placeholder="Номер телефона" >-->
                <!--</label>-->
                <!--<label for="sing-in-code"  >-->
                    <!--<input type="text"  id="sing-in-code" autocomplete="off" placeholder="Код из СМС" >-->
                <!--</label>-->
                <!--<label for="sing-in-password" class="error" data-hint="Пароль слишком короткий">-->
                    <!--<input type="password"   class="password " id="sing-in-password" autocomplete="off" minlength="6" placeholder="Пароль">-->
                    <!--<button type="button" class="show-password"></button>-->
                <!--</label>-->
                <!--<button class="btn btn-green" type="submit">Продолжить</button> &lt;!&ndash;Когда доходит до шага придумать пароль то заменить текст на "Сохранить и войти"&ndash;&gt;-->
                <!--<a href="#0" class="btn btn-default">Назад</a>-->
            <!--</form>-->
            <!--<p class="info">Уже зарегистрированы? <a href="#0" class="recovery-pass">Войти</a></p>-->
            <!--<p class="info">Повторная отправка СМС через <span class="timeout">30</span> сек.</p>-->
            <!--<a href="#0" class="green return-code" style="display: none;">Отправить код повторно</a>-->
        <!--</div>-->
    </div>
</div>
<div class="modal modal-rewrite-password mfp-hide" id="rewrite-password">
    <div class="modal-content">
        <!--В этой модалке много общего с модалкой авторизации,id можешь менять на них ничего не навершено-->
        <div class="modal-content--inner registration" ><!--тело для смены пароля-->
            <h2>Смена пароля</h2>
            <p>На номер +7 (909) 668-88-58 будет<br>  отправлена СМС с кодом подтверждения</p> <!--Когда смс отправлено то текст меняется на СМС с кодом подтверждения <br> отправлено на ваш номер телефона-->
            <form action="" class="rewrite-password">
                <button class="btn btn-green" type="submit">Отправить</button>
            </form>
            <!--форма меняется на эту при отправке сообщения на телефон-->
           <form action="">
                <label for="sing-in-code">
                    <input type="text"  id="sing-in-code" autocomplete="off" placeholder="Код из СМС" >
                </label>
               <!--Если не правильный код-->
               <label for="sing-in-tel" class="error" data-hint="Неверный код подтверждения" ><!--если не порошел валидацию то добавляется клаcc error 2-3 секунды. Если номер написан в правильном формате, но не найден в базе,  добавляется клаcc error 2-3 секунды, в хинте (data-hint) с ошибкой будет «Номер уже зарегистрирован»-->
                   <input type="text"  id="sing-in-tel" autocomplete="off" placeholder="Код из СМС" >
               </label>
               <label for="sing-in-password" class="error" data-hint="Пароль слишком короткий"><!--если не порошел валидацию то добавляется клаcc error 2-3 секунды, валидация это минимум 6 символов-->
                   <input type="password"   class="password " id="sing-in-password" autocomplete="off" minlength="6" placeholder="Пароль">
                   <button type="button" class="show-password"></button>
               </label>
               <!--Когда код введен верный то показываем поле смены пароля-->
                <button class="btn btn-green" type="submit">Продолжить</button>
            </form>
            <p class="info">Повторная отправка СМС через <span class="timeout">30</span> сек.</p>
            <a href="#0" class="green return-code" style="display: none;">Отправить код повторно</a>

        </div>
    </div>
</div>
<div class="modal modal-full mfp-hide" id="use-here">
    <div class="modal-content">
        <div class="modal-content--inner"><!-- тело для входа -->

        </div>
        <section class="use-here">
            <div class="wrapper">
                <div class="use-here--inner">
                    <h1>Сервис «Стоп-Фактор» открыт на другом устройстве</h1>

                    <a href="#0" class="btn btn-green">Использовать здесь</a>
                    <a href="" class="btn btn-default">Отмена</a>

                    <a href="#why-show-modal" class="why-show">Почему я вижу это сообщение?</a>
                </div>


                <div class="modal modal-why-show-modal" id="why-show-modal" style="display: none;">
                    <button class="close-why-show-modal"></button>
                    <div class="modal-inner">
                        <p>«Стоп-фактор» — это продукт для персонального пользования и он не может работать на нескольких устройствах одновременно. Это сделано для достижения минимально возможной цены.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<!--модалки для главной карточки компании-->
<div class="modal modal-main-card modal-sites  mfp-hide" id="modal-sites">
   <div class="modal-header">
       <h2>Сайты</h2>
       <span class="modal-header--count">Всего 7</span>
   </div>
    <div class="modal-content">
        <ul>
            <li><a href="https://www.auto.ru" target="_blank">www.auto.ru</a></li>
            <li><a href="https://www.drive2.ru" target="_blank">www.drive2.ru</a></li>
            <li><a href="https://www.somethingfactory.com" target="_blank">www.somethingfactory.com</a></li>
            <li><a href="https://forums.nasioc.com/forums/index.php" target="_blank">forums.nasioc.com/forums/index.php</a></li>
            <li><a href="https://www.sti-club.su" target="_blank">www.sti-club.su</a></li>
            <li><a href="https://www.mag.auto.ru" target="_blank">www.mag.auto.ru</a></li>
            <li><a href="https://www.anywayanyday.com/ru-ru/index" target="_blank">www.anywayanyday.com/ru-ru/index</a></li>
        </ul>
    </div>
</div>
<div class="modal modal-main-card modal-address  mfp-hide" id="modal-address">
    <div class="modal-header">
        <h2>Фактические адреса</h2>
        <span class="modal-header--count">Всего 40</span>
        <p class="subheader">Включая филиалы и структурные подразделения</p>
    </div>
    <div class="modal-content">
        <ul>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">порядка 500 м на юго-запад от ориентира Хабаровский край, Ульчский район, п. Циммермановка, ул. Железнодорожная, 2</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
            <li>
                <p class="name">115035, г. Москва, ул. Софийская Набережная, 26</p>
                <p class="date">ноябрь 2018</p>
            </li>
        </ul>

        <div class="modal-content--btn">
            <a href="#0" class="btn btn-green">Загрузить еще</a>
        </div>
    </div>
</div>
<div class="modal modal-main-card modal-email  mfp-hide" id="modal-email">
    <div class="modal-header">
        <h2>Электронная почта</h2>
        <span class="modal-header--count">Всего 9</span>
    </div>
    <div class="modal-content">
        <ul>
            <li><a href="mailto:i@auto.ru">i@auto.ru</a></li>
            <li><a href="mailto:bolotov@drive2.ru">bolotov@drive2.ru</a></li>
            <li><a href="mailto:n.vasilevsky_1984@somethingfactory.com">n.vasilevsky_1984@somethingfactory.com</a></li>
            <li><a href="mailto:press@vsmn.transneft.ru">press@vsmn.transneft.ru</a></li>
            <li><a href="mailto:vsmn@vsmn.transneft.ru">vsmn@vsmn.transneft.ru</a></li>
            <li><a href="mailto:bashmashkin@team.auto.ru">bashmashkin@team.auto.ru</a></li>
            <li><a href="mailto:valentin_kholodnorukov@team.auto.ru">valentin_kholodnorukov@team.auto.ru</a></li>
            <li><a href="mailto:b.a.makaronov@team.auto.ru">b.a.makaronov@team.auto.ru</a></li>
            <li><a href="mailto:supov1953@team.auto.ru">supov1953@team.auto.ru</a></li>
        </ul>
    </div>
</div>
<div class="modal modal-main-card modal-map  mfp-hide" id="modal-map">
    <div class="modal-header">
        <h2>Юридический адрес</h2>
        <p class="subheader">123044, г. Комсомольск-на-Амуре, ул. Соломенного века, д. 15, корп. 1</p>
    </div>
    <div class="modal-content">
        <div id="map">

        </div>
    </div>
</div>
<div class="modal modal-main-card modal-phone  mfp-hide" id="modal-phone">
    <div class="modal-header">
        <h2>Телефоны</h2>
        <span class="modal-header--count">Всего 11</span>
    </div>
    <div class="modal-content">
        <ul>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
            <li><a href="tel:+74995171488">+7 (499) 517-14-88</a></li>
        </ul>
    </div>
</div>
<div class="modal modal-main-card modal-cods  mfp-hide" id="modal-cods">
    <div class="modal-header">
        <h2>Коды статистики</h2>
    </div>
    <div class="modal-content">
        <ul>
            <li>
                <p class="name">ОГРН</p>
                <p class="value">1026900545770</p>
            </li>
            <li>
                <p class="name">ИНН</p>
                <p class="value">6903041129</p>
            </li>
            <li>
                <p class="name">ОКПО</p>
                <p class="value">57298545</p>
            </li>
            <li>
                <p class="name">КПП</p>
                <p class="value">695001001</p>
            </li>
            <li>
                <p class="name">ОКАТО</p>
                <p class="value"> <span>28401370000</span>
                    Тверская область, Города областного подчинения Творской области, Тверь, Районы г. Твери, Московский</p>
            </li>
            <li>
                <p class="name">ОКТМО</p>
                <p class="value">2870100001 — г. Тверь</p>
            </li>
            <li>
                <p class="name">ОКВЭД</p>
                <p class="value">66.12.2 — Деятельность по управлению ценными бумагами</p>
            </li>
            <li>
                <p class="name">ОКФС</p>
                <p class="value">23 — Собственность иностранных юридических лиц</p>
            </li>
            <li>
                <p class="name">ОКОПФ</p>
                <p class="value">12247 — Публичные акционерные общества</p>
            </li>
            <li>
                <p class="name">ФСС</p>
                <p class="value">690038286669001 Государственное учреждение — Тверское региональное отделение фонда страхования Российской Федерации (11.04.2001)</p>
            </li>
            <li>
                <p class="name">ПФР</p>
                <p class="value">078043011894 — Управление Пенсионного фонда РФ в Московском районе г. Твери (11.04.2001)</p>
            </li>
        </ul>
    </div>
</div>
<div class="modal modal-main-card modal-activity  mfp-hide" id="modal-activity">
    <div class="modal-header">
        <h2>Виды деятельности</h2>
        <span class="modal-header--count">Всего 10</span>
    </div>
    <div class="modal-content">
        <ul>
            <li class="main" >
                <p class="name">73.11</p>
                <p class="value">Деятельность рекламных агентств (основной)</p>
            </li>
            <li>
                <p class="name">46.90</p>
                <p class="value">Торговля оптовая неспециализированная</p>
            </li>
            <li>
                <p class="name">59.11</p>
                <p class="value">Производство кинофильмов, видеофильмов и телевизионных программ</p>
            </li>
            <li>
                <p class="name">62.01</p>
                <p class="value">Разработка компьютерного программного обеспечения</p>
            </li>
            <li>
                <p class="name">62.01</p>
                <p class="value">Деятельность консультативная и работы в области компьютерных технологий</p>
            </li>
            <li>
                <p class="name">62.01</p>
                <p class="value">Деятельность, свзанная с использованием вычислительной техники и информационных технологий, прочая</p>
            </li>
            <li>
                <p class="name">63.11</p>
                <p class="value">Деятельность по обработке данных, предоставление услуг по размещению информации и сваязанная с этим деятельность</p>
            </li>
            <li>
                <p class="name">63.11.12</p>
                <p class="value">Деятельность по созданию и использованию баз данных и информационных ресурсов</p>
            </li>
            <li>
                <p class="name">82.99</p>
                <p class="value">Деятельность по предоставлению прочих вспомогательных услуг для бизнеса, не включенная в другие группировки</p>
            </li>
            <li>
                <p class="name">63.11.1</p>
                <p class="value">Предоставление прочих персональных услуг, не включенных в другие группировки</p>
            </li>
        </ul>
    </div>
</div>
<div class="modal modal-main-card modal-affiliation  mfp-hide" id="modal-affiliation">
    <div class="modal-content">
       <div class="block-affiliation">

       </div>
    </div>
</div>
<div class="modal modal-main-card modal-license  mfp-hide" id="modal-license">
    <div class="modal-header">
        <h2>Лицензии</h2>
<!--        <span class="modal-header&#45;&#45;count">Всего 10</span> &lt;!&ndash;если много то показываем кнопки&ndash;&gt;-->
        <div class="modal-header-filters">
            <button class="filters-btn active" >Все <span>40</span></button>
            <button class="filters-btn">Действующие <span>31</span></button>
            <button class="filters-btn">Недействующие <span>9</span></button>
        </div>
    </div>
    <div class="modal-content">
        <ul>
            <li class="warning"><!-- warning - если отменина expire - если истекла  normal- если все норм -->
                <div class="col from">
                    <p>СЛХ 02559 НР</p>
                    <p class="disc">Департамент по недропользованию по Уральскому ФО</p>
                </div>
                <div class="col text">
                    <p>Геологическое изучение недр, включающее поиски и оценку месторождений полезных ископаемых и оценку пригодности участков недр для строительства и эксплуатации подземных сооружений, не связанных с добычей полезных ископаемых.</p>
                    <p class="disc">Ямало-Ненецкий автономный округ, Тазовский район, Толавэйский</p>
                </div>
                <div class="col out">
                    <p>24.09.2009 — 24.09.2019 </p>
                    <p class="disc">Приостановлена</p>
                </div>
            </li>
            <li class="normal"><!-- warning - если отменина expire - если истекла  normal- если все норм -->
                <div class="col from">
                    <p>СЛХ 02559 НР</p>
                    <p class="disc">Департамент по недропользованию по Уральскому ФО</p>
                </div>
                <div class="col text">
                    <p>Геологическое изучение недр, включающее поиски и оценку месторождений полезных ископаемых и оценку пригодности участков недр для строительства и эксплуатации подземных сооружений, не связанных с добычей полезных ископаемых.</p>
                </div>
                <div class="col out">
                    <p>Выдана 24.09.2018 </p>
                </div>
            </li>
            <li class="expire"><!-- warning - если отменина expire - если истекла  normal- если все норм -->
                <div class="col from">
                    <p>СЛХ 02559 НР</p>
                    <p class="disc">Департамент по недропользованию по Уральскому ФО</p>
                </div>
                <div class="col text">
                    <p>Геологическое изучение недр, включающее поиски и оценку месторождений полезных ископаемых и оценку пригодности участков недр для строительства и эксплуатации подземных сооружений, не связанных с добычей полезных ископаемых.</p>
                    <p class="disc">Ямало-Ненецкий автономный округ, Тазовский район, Толавэйский</p>
                </div>
                <div class="col out">
                    <p>24.09.2009 — 24.09.2019 </p>
                    <p class="disc">Истекла</p>
                </div>
            </li>
        </ul>

        <div class="modal-content-pagination">

            <div class="modal-content-pagination--btn">
                <a href="#0" class="btn btn-green">Загрузить еще</a>
                <a href="#0" class="btn btn-green">
               <span class="loader">
                  <span class="loader-item loader-item--1"></span>
                  <span class="loader-item loader-item--2"></span>
                  <span class="loader-item loader-item--3"></span>
               </span>
                </a>
            </div>

            <ul class="modal-content-pagination--list">
                <li><a href="#0" class="prev"></a></li>
                <li><a href="#0" class="active">1</a></li>
                <li><a href="#0">2</a></li>
                <li><a href="#0">3</a></li>
                <li><a href="#0">4</a></li>
                <li><a href="#0">5</a></li>
                <li><a href="#0" class="next"></a></li>
            </ul>

        </div>
    </div>
</div>
<!--svg-sprite-->
<div class="svgSprite" hidden>
    {% include '../../images/general/sprite.svg' %}
</div>


<script src="js/combined.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.11.1/dist/js/jquery.suggestions.min.js"></script>
<!--<script>-->
    <!--$("#query").suggestions({-->
        <!--token: "93dc951d16827886219c6ec5e445288493292104",-->
        <!--type: "PARTY",-->
        <!--/* Вызывается, когда пользователь выбирает одну из подсказок */-->
        <!--onSelect: function(suggestion) {-->
            <!--console.log(suggestion);-->
        <!--}-->
    <!--});-->


<!--</script>-->
<script src="js/libs.js"></script>

{% include 'layouts/_counters.html' %}
</body>
</html>